﻿
@{
    ViewBag.Title = "Listar_Asignacion_Rol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






@section scripts{

    <script type="text/javascript" src="~/Scripts/Aplicativo/AsignarRol/UI/AsignarRolUI.js"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/AsignarRol/Model/AsignarRolModel.js"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/AsignarRol/AsignarRolViewModel.js"></script>

}


    <script>

        var DatosRoles = '@Html.Raw(ViewBag.Roles)'
        var DatosUsuario = '@Html.Raw(ViewBag.Usuario)'
    </script>


<div class="container">

    <div class="page-header ">
        <h3>Asignar Rol y Contraseña</h3>
    </div>

    <div id="Interface_Datos">



        <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom"> <h4 class="panel-title"> Formulario  </h4> </div>
            <div class="panel-body">
                <form class="form-horizontal">

                    <div class="form-group">
                        <label class="col-md-2 control-label">*Correo electr&oacute;nico</label>
                        <div class="col-md-8">
                            <input type="email" data-bind="textInput:ModeloAsignarRol.Correo,enable:BloquearDato" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="form-control btn btn-primary " data-toggle="modal" data-target="#Ventana_Buscar">Buscar <span class="glyphicon glyphicon-search"></span></button>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">* Nombre  </label>
                        <div class="col-md-10">
                            <input type="text" data-bind="textInput:ModeloAsignarRol.Nombre, enable:BloquearDato" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">* Rol </label>
                        <div class="col-md-10">
                            <select class="form-control" data-bind="options: ArregloRoles, value: ModeloAsignarRol.SeleccionRol, optionsText: 'name', optionsCaption: 'Selecciona' ">   </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label"> *Contrase&ntilde;a </label>
                        <div class="col-md-10">
                            <input type="password" class="form-control" data-bind="textInput:ModeloAsignarRol.Password" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label"> *Confirmar Contrase&ntilde;a </label>
                        <div class="col-md-10">
                            <input type="password" class="form-control" data-bind="textInput:ModeloAsignarRol.ConfirmarPassword" />
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-2">
                            <button type="button" class="form-control btn btn-primary " data-bind="click:Guardar_Configuracion">Aceptar <span class="glyphicon glyphicon-ok"></span></button>
                        </div>
                    </div>


                </form>
            </div>

        </div>

        
    </div>

</div>





<div class="modal fade" id="Ventana_Buscar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Buscar Usuario</h4>
            </div>
            <div class="modal-body">

                <table id="Tabla_Buscar_Usuario"
                       data-toggle="table"
                       data-pagination="true"
                        data-url="Obtener_Usuarios"
                       data-search="true"
                       data-side-pagination="server">
                    <thead>
                        <tr>
                            <th data-field="id" 	data-visible="false"></th>
                            <th data-field="nombre">Nombre</th>
                            <th data-field="apellido_paterno">Apellido Paterno</th>
                            <th data-field="apellido_materno">Apellido Materno</th>
                            <th data-field="correo">Correo</th>
                            <th data-field="estatus">Estatus</th>
                        </tr>
                    </thead>


                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="Btn_Aceptar">Aceptar <span class="glyphicon glyphicon-ok"></span></button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar <span class="glyphicon glyphicon-remove"></span> </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div id="Ventana_Espera" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Procesando</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
