﻿@model PagedList.IPagedList<ModelDomain.ViewModel.TramitesSolicitudView>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Listado";
}


<link type="text/css" href="~/Content/collapse.css" rel="stylesheet" />

@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

     
<script type="text/javascript">

        $(function () {

            //Array para dar formato en español
            $.datepicker.regional['es'] =
            {
                closeText: 'Cerrar',
                prevText: 'Previo',
                nextText: 'Próximo',

                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
                'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun',
                'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                monthStatus: 'Ver otro mes', yearStatus: 'Ver otro año',
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sáb'],
                dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
                dateFormat: 'dd/mm/yy', firstDay: 0,
                initStatus: 'Selecciona la fecha', isRTL: false
            };

            $(".datefield").datepicker($.datepicker.regional["es"]);

            $.validator.addMethod("formFecha", function (value, element) {
                var dateRegex = /^(?=\d)(?:(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:\x20|$))|(?:2[0-8]|1\d|0?[1-9]))([-.\/])(?:1[012]|0?[1-9])\1(?:1[6-9]|[2-9]\d)?\d\d(?:(?=\x20\d)\x20|$))?(((0?[1-9]|1[012])(:[0-5]\d){0,2}(\x20[AP]M))|([01]\d|2[0-3])(:[0-5]\d){1,2})?$/;
                return this.optional(element) || dateRegex.test(value);
            }, "Formato de fecha incorrecto");


            $("#form_buscar_solicitudes").validate({
                rules: {
                    FechaInicio: { formFecha: true },
                    FechaFin: { formFecha: true }
                }
            });

        });

        function limpiarFiltros() {

            $('#FechaInicio').val('');
            $('#FechaFin').val('');
            $('#searchString').val('');
            $("#tramite_ID").val('');
            $("#estatus").val('');
        }

</script>

}

    <div class="container">

        <div class="page-header ">
            <h3>Atender Tr&aacute;mites</h3>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom clearfix">

                <div class="panel-title pull-left" style="padding-top: 7.5px;">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#busqueda">
                        Filtros
                    </a>
                </div>

                <div class="btn-group pull-right">
                    <button class="btn btn-primary btn-sm" onclick="limpiarFiltros();"> Borrar Filtros <span class="glyphicon glyphicon-remove-circle"></span></button>
                </div>

            </div>

            <div id="busqueda" class="panel-collapse collapse in">

                <div class="panel-body">


                    @using (Html.BeginForm("Listado", "TramitesPendientes", FormMethod.Get, new { id = "form_buscar_solicitudes" }))
                    {


                    <div class="form-horizontal">

                        <div class="form-group">
                            <label class="col-md-2">Fecha Inicio</label>
                            <div class="col-md-4">
                                @Html.TextBox("FechaInicio", ViewBag.CurrentFechaInicio as string, htmlAttributes: new { @class = "form-control datefield", @maxlength = "10", data_bind = "textInput:fechaInicio", autocomplete = "off" })
                            </div>

                            <label class="col-md-2">Fecha Fin</label>
                            <div class="col-md-4">
                                @Html.TextBox("FechaFin", ViewBag.CurrentFechaFin as string, htmlAttributes: new { @class = "form-control datefield", @maxlength = "10", data_bind = "textInput:fechaFin", autocomplete = "off" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2">Tr&aacute;mite</label>

                            <div class="col-md-10">
                                @Html.DropDownList("tramite_ID", new SelectList(ViewBag.ComboTramites,"id","name", ViewBag.CurrentTramite_ID), "Seleccione", htmlAttributes: new { @class = "form-control" })
                            </div>

                        </div>


                        <div class="form-group">
                            <label class="col-md-2">Estatus</label>
                            <div class="col-md-4">
                                @Html.DropDownList("estatus", new SelectList(ViewBag.ComboEstatus,"name","name", ViewBag.CurrentEstatus), "Seleccione" , htmlAttributes: new { @class = "form-control" })
                            </div>

                            <label class="col-md-2">B&uacute;queda</label>
                            <div class="col-md-4">
                                @Html.TextBox("searchString", ViewBag.currentFilter as string, htmlAttributes: new { @class = "form-control", @maxlength = "50", placeholder = "Usuario,RPU,Folio", data_bind = "textInput:busqueda", autocomplete = "off" })
                            </div>
                        </div>


                    </div>

                        <div class="row">
                            <div class="col-md-12">

                                <div class="btn-group pull-right">

                                    <button type="submit" class="btn btn-primary btn-sm custom">
                                        Buscar <i class="glyphicon glyphicon-search"></i>
                                    </button>

                                </div>

                            </div>
                        </div>
                    }


                </div>

            </div>

        </div>



        <div class="panel panel-default">

            <div class="panel-heading panel-heading-custom clearfix">
                <h4 class="panel-title pull-left" style="padding-top: 7.5px;"> Listado </h4>

                <div class="btn-group pull-right">

                </div>

            </div>

            <div class="panel-body">

                <div class="row">

                    <div class="col-md-12">

                        <div class="table-responsive">

                            <table class="table table-bordered table-striped">

                                <tr>
                                    <th>

                                    </th>
                                    <th>
                                        @Html.ActionLink("Fecha", "Listado", new { sortOrder = ViewBag.FechaSortParam, currentFilter = ViewBag.CurrentFilter, currentFechaInicio = ViewBag.CurrentFechaInicio, currentFechaFin = ViewBag.CurrentFechaFin, currentEstatus = ViewBag.CurrentEstatus, currentTramite_ID = ViewBag.CurrentTramite_ID })
                                    </th>
                                    <th>
                                        @Html.ActionLink("Folio Solicitud", "Listado", new { sortOrder = ViewBag.FolioSortParam, currentFilter = ViewBag.CurrentFilter, currentFechaInicio = ViewBag.CurrentFechaInicio, currentFechaFin = ViewBag.CurrentFechaFin, currentEstatus = ViewBag.CurrentEstatus, currentTramite_ID = ViewBag.CurrentTramite_ID })
                                    </th>
                                    <th>
                                        
                                        @Html.ActionLink("Nombre Trámite", "Listado", new { sortOrder = ViewBag.NombreTramiteSortParam, currentFilter = ViewBag.CurrentFilter, currentFechaInicio = ViewBag.CurrentFechaInicio, currentFechaFin = ViewBag.CurrentFechaFin, currentEstatus = ViewBag.CurrentEstatus, currentTramite_ID = ViewBag.CurrentTramite_ID })
                                    </th>
                                    <th> 
                                        @Html.ActionLink("Estatus", "Listado", new { sortOrder = ViewBag.EstatusSortParam, currentFilter = ViewBag.CurrentFilter, currentFechaInicio = ViewBag.CurrentFechaInicio, currentFechaFin = ViewBag.CurrentFechaFin, currentEstatus = ViewBag.CurrentEstatus, currentTramite_ID = ViewBag.CurrentTramite_ID })
                                    </th>
                                    <th>Usuario</th>
                                    <th> 
                                        @Html.ActionLink("RPU", "Listado", new { sortOrder = ViewBag.RPUSortParam, currentFilter = ViewBag.CurrentFilter, currentFechaInicio = ViewBag.CurrentFechaInicio, currentFechaFin = ViewBag.CurrentFechaFin, currentEstatus = ViewBag.CurrentEstatus, currentTramite_ID = ViewBag.CurrentTramite_ID })
                                    </th>
                                    <th>Costo</th>
                                    <th>Tel&eacute;fono</th>
                                    <th>
                                        <i class="glyphicon glyphicon-usd"></i>
                                    </th>
                                    <th>
                                        <i class="glyphicon glyphicon-eye-open"></i>
                                    </th> 
                                  
                            

                                </tr>
                                @foreach (var item in Model)
                                {
                                    int valor;
                                    if (TempData["tramite_solicitado_id"] == null)
                                    {
                                        valor = 0;
                                    }
                                    else
                                    {
                                        valor = (int)TempData["tramite_solicitado_id"];
                                    }

                                    <tr class="@( valor == item.Tramite_Solicitados_ID ? "success" : "")">
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a href="@Url.Action("Editar",item.Controlador, new { Tramite_Solicitados_ID = item.Tramite_Solicitados_ID, returnUrl = Request.Url.PathAndQuery })">
                                                            Ver Tr&aacute;mite
                                                        </a>
                                                    </li>
                                                    @if (item.Estatus_Revision != "CANCELADO" || item.Estatus_Revision != "TERMINADO")
                                                    {
                                                        <li>
                                                            <a href="@Url.Action("Agregar","AsignarPagos", new { queryString = item.RPU,   returnUrl = Request.Url.PathAndQuery, Tramite_ID = item.Tramite_ID , Tramite_Solicitados_ID = item.Tramite_Solicitados_ID })">
                                                                Agregar Pago
                                                            </a>
                                                        </li>
                                                    }    
                                                    <li>
                                                       <a href="@Url.Action("Pagos_Asignados", "AsignarPagos", new { returnUrl = Request.Url.PathAndQuery, Tramite_Solicitados_ID = item.Tramite_Solicitados_ID })">
                                                                Pagos Asignados
                                                       </a>
                                                    </li>
                                                
                                                    <li>
                                                        <a href="@Url.Action("Visualizar","Mensajes", new { Tramite_Solicitados_ID = item.Tramite_Solicitados_ID, returnUrl = Request.Url.PathAndQuery })">
                                                            Agregar Mensajes
                                                        </a>
                                                    </li>
                                                    <li class="divider"></li>
                                                    <li>
                                                        <a href="@Url.Action("Registrar","Calificar", new { Estatus = item.Estatus_Revision, Tramite_Solicitados_ID = item.Tramite_Solicitados_ID, returnUrl = Request.Url.PathAndQuery })">
                                                            Asignar Estatus Solicitud
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>

                                        <td>@Html.DisplayFor(m => item.Fecha_Solicitud)</td>
                                        <td>@item.Tramite_Solicitados_ID</td>
                                        <td>@item.Nombre_Tramite</td>
                                        <td>@item.Estatus_Revision</td>
                                        <td>@item.Usuario</td>
                                        <td>@item.RPU</td>
                                        <td>@item.Costo_Tramite</td>
                                        <td>@item.Telefono</td>
                                        <td>
                                            <span class="badge"> @item.NumeroPago </span>
                                        </td>
                                        <td>
                                            <span class="badge"> @item.NumeroMensajes </span>
                                        </td>
                                    
                                        
                                    </tr>
                                    }
                            </table>

                        </div>


                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="text-align:right">
                        P&aacute;gina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
                        @Html.PagedListPager(Model, page => Url.Action("Listado",
                         new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter , currentFechaInicio = ViewBag.CurrentFechaInicio , currentFechaFin = ViewBag.CurrentFechaFin, currentEstatus= ViewBag.CurrentEstatus, currentTramite_ID = ViewBag.CurrentTramite_ID }))
                    </div>


                </div>

            </div>

        </div>


    </div>


