﻿@model ModelDomain.ViewModel.TramitesSolicitudView

    <link href="~/Content/estilo_mensajes.css" rel="stylesheet" />






        <div class="alert alert-success" role="alert">
          
            <div class="icon hidden-xs">
                <i class="glyphicon glyphicon-list-alt"></i>
            </div>

            <div class="row">
                <div class="col-md-10">

                    <div class="pull-left">
                        <strong>Tr&aacute;mite: @Model.Nombre_Tramite</strong>
                        <br />
                        <b>Folio:</b> <span>@Model.Tramite_Solicitados_ID</span> &nbsp;&nbsp; <b> RPU:  </b>  <span>@Model.RPU</span> &nbsp;&nbsp; <b>Estatus:</b> <span>@Model.Estatus_Revision</span>
                    </div>
                   
                </div>



                <div class="col-md-2">

                    <div class="pull-right">

                        <a class="btn btn-primary btn-sm" href="@ViewBag.ReturnUrl">Regresar <span class="glyphicon glyphicon-share-alt"> </span></a>

                    </div>


                </div>

            </div>

        
        </div>


