﻿@model ModelDomain.ViewModel.TramitesView





<div class="panel panel-default">
    <div class="panel-heading clearfix panel-heading-custom">
        <h4 class="panel-title pull-left" style="padding-top: 7.5px;"> Selecciona un documento  </h4>
        <div class="btn-group pull-right">
            <button class="btn btn-primary btn-sm"  id="btn_subir_archivo" data-bind="enable: bloquearControl"> Subir Archivo  <span class="glyphicon glyphicon-cloud-upload"></span></button>
            <button class="btn btn-success btn-sm" data-bind="click: aceptarOperacion,enable: bloquearControl"> Guardar <span class="glyphicon glyphicon-ok"></span></button>
        </div>

    </div>
    <div class="panel-body">

        <div class="list-group">
            @foreach (var documento in Model.Lista_Documentos)
            {
                <a href="#" class="list-group-item" data-nombre="@(documento.name)" data-identificador="@(documento.id)">@documento.name</a>
            }
        </div>
    </div>
    <div class="panel-footer clearfix">
        <h4 class="panel-title pull-left" style="padding-top: 7.5px;"> Costo Tr&aacute;mite: <span class="badge"> @Model.Costo_Tramite.ToString("c")</span> </h4>
        <div class="btn-group pull-right">

            @if (!String.IsNullOrEmpty(ViewBag.ReturnUrl))
            {
            <a class="btn btn-primary btn-sm" href="@ViewBag.ReturnUrl">
                Regresar <span class="glyphicon glyphicon-share-alt" ></span>
            </a>
            }
            else
            {
                <button class="btn btn-primary btn-sm" data-bind="click: regresar"> Regresar <span class="glyphicon glyphicon-share-alt"></span></button>
            }

        </div>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading clearfix panel-heading-custom">
        <h4 class="panel-title pull-left" > Archivos Cargados  </h4>
        <div class="pull-right">
            <span class="label label-danger">Solo archivos con extensi&oacute;n PDF son validos</span>
        </div>
    </div>
    <div class="panel-body">

        <table id="Tabla_Solicitudes_Documento"
               data-toggle="table"
               data-pagination="true"
               data-search="false"
               data-side-pagination="server"
               data-striped="true"
               data-show-toggle="false"
               data-show-columns="false"
               data-show-refresh="false">
            <thead>
                <tr>
                    <th  data-formatter="Botones_Operacion_Formato_Eliminar"
                         data-events="Botones_Operacion_Evento" data-align="center"></th>
                    <th data-formatter="Botones_Operacion_Bajar_PDF" data-field="pdf"
                        data-events="Botones_Operacion_Evento" data-align="center">

                    </th>
                    <th data-field="Nombre_Documento">Documento</th>
                    <th data-field="Nombre_Archivo">Archivo</th>

                </tr>
            </thead>

        </table>

    </div>

</div>