﻿@model ModelDomain.ViewModel.TramitesSolicitudView
@using AplicacionWEB.Extensiones

@{
    ViewBag.Title = "Factibilidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{
    <link href="~/Content/steps.css" rel="stylesheet" />
    <link href="~/Content/collapse.css" rel="stylesheet" />
}


@section scripts{

    <script type="text/javascript" src="~/Scripts/SubirArchivos/ajaxupload.3.6.js"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/BaseSolicitud/Model/SolicitudTramiteModel.js"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/Factibilidades/Model/FactibilidadModel.js"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/BaseSolicitud/UI/BaseSolicitudUI.js"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/Factibilidades/FactibilidadViewModel.js"></script>

    <script type="text/javascript">
        // objeto donde esta los datos de la solicitud
        var Model_Solicitud_Tramite = @Html.HtmlConvertToJson(Model);
        var Arreglo_Lista_Documentos = '@Html.Raw(ViewBag.Lista_Documentos)';
        var Model_Formulario_Factibilidad = '@Html.Raw(ViewBag.FormularioFactibilidades)';
        var regresarURLOperacion = '@Url.Action("Listar_Mis_Tramites", "MisTramites")';
        var Ruta_Reporte_PDF = '@Url.Action("Visulizar_Archivo_PDF", "VisualizarContenido")';
        var Ruta_Agregar_RPU = '@Url.Action("Agregar_RPU", "AsociarRPU")';

    </script>
}

<div class="container">
    <div class="page-header ">
        <h3> @Model.Nombre_Tramite</h3>
    </div>


    <div class="step step-active">
        <div>
            <div class="circle">1</div>
        </div>
        <div>
            <div class="title">Primer Paso</div>
            <div class="caption">Llenar Solicitud</div>
            <div id="interfaz_factibilidad">

                <div class="panel panel-default">

                    <div class="panel-heading panel-heading-custom">
                        <div class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#busqueda">
                                Formulario
                            </a>

                        </div>
                    </div>


                    <div id="busqueda" class="panel-collapse collapse in">
                        <div class="panel-body">

                            <form>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>*Nombre</label>
                                        <input type="text" class="form-control" data-bind="textInput:FactibilidadModel.Nombre">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>*Colonia</label>
                                        <input type="text" class="form-control" data-bind="textInput:FactibilidadModel.Colonia">
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>*Calle</label>
                                        <input type="text" class="form-control" data-bind="textInput:FactibilidadModel.Calle">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>*N&uacute;mero</label>
                                        <input type="text" class="form-control" data-bind="textInput:FactibilidadModel.Numero">
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>C&oacute;digo Postal</label>
                                        <input type="text" class="form-control" data-bind="textInput:FactibilidadModel.Codigo_Postal">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>Correo Electr&oacute;nico</label>
                                        <input type="text" class="form-control" data-bind="textInput:FactibilidadModel.Correo_Electronico">
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>*Telefono</label>
                                        <input type="text" class="form-control" data-bind="textInput:FactibilidadModel.Telefono">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>RFC</label>
                                        <input type="text" class="form-control" data-bind="textInput:FactibilidadModel.RFC">
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>*Ciudad</label>
                                        <input type="text" class="form-control" data-bind="textInput:FactibilidadModel.Ciudad">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>*Estado</label>
                                        <input type="text" class="form-control" data-bind="textInput:FactibilidadModel.Estado">
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label>Comentarios</label>
                                        <textarea rows="3" class="form-control" data-bind="textInput:SolicitudTramiteModel.Observaciones"></textarea>
                                    </div>

                                </div>

                            </form>

                        </div>
                    </div>

                   

                </div>

            </div>
        </div>

    </div>


    <div class="step">
        <div>
            <div class="circle">2</div>
        </div>
        <div>
            <div class="title">Segundo Paso</div>
            <div class="caption">Subir Documentos</div>

            @if (Model.Tramite_Solicitados_ID > 0)
            {

                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-1 control-label">Folio</label>
                            <div class="col-md-3">
                                <input class="form-control" value="@Model.Tramite_Solicitados_ID" disabled="disabled" />
                            </div>
                            <label class="col-md-1 control-label">RPU</label>
                            <div class="col-md-3">
                                <input class="form-control" value="@Model.RPU" disabled="disabled" />
                            </div>
                            <label class="col-md-1 control-label">Usuario</label>
                            <div class="col-md-3">
                                <input class="form-control" value="@Model.Usuario" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div id="interfaz_documentos">
                @{Html.RenderAction("CrearVistaDocumentoTitulo", "BaseSolicitudTramite", new { Tramite_ID = Model.Tramite_ID, returnUrl = ViewBag.ReturnUrl });}
            </div>
        </div>

    </div>

    <div class="step">
        <div>
            <div class="circle">3</div>
        </div>
        <div>
            <div class="title">Tercer Paso</div>
            <div class="caption">Opcional</div>
            <div class="panel panel-default">

                <div class="panel-heading panel-heading-custom">
                    <h4 class="panel-title"> Costos de Factibilidad  </h4>
                </div>

                <div class="panel-body">
                    <table id="Tabla_Costos"
                           data-toggle="table"
                           data-pagination="true"
                           data-search="false"
                           data-side-pagination="server"
                           data-striped="true"
                           data-show-toggle="false"
                           data-show-columns="false"
                           data-show-refresh="false">
                        <thead>
                            <tr>

                                <th data-field="Concepto">Concepto</th>
                                <th data-field="Importe">Importe</th>

                            </tr>
                        </thead>

                    </table>
                </div>

            </div>
        </div>

    </div>




</div>


<div id="Ventana_Espera" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Procesando</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>