﻿
@model int

@{
    ViewBag.Title = "Obtener_Mensajes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model > 0)
{
    <a href="#"><span class="glyphicon  glyphicon-bell "> </span> <span class="badge">@Model</span></a>
}