﻿@model IEnumerable<ModelDomain.ViewModel.MensajesSolicitudesView>

@{
    ViewBag.Title = "Visualizar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/estilo_visualizar_mensaje.css" />

@section scripts{
    
    <script type="text/javascript" src="~/Scripts/Aplicativo/VisualizarMensaje/VisualizarMensajeViewModel.js"></script>

    <script type="text/javascript">

        $(function () {


            var mensajeError = '@ViewBag.MensajeCliente';
            
            if (mensajeError.length > 0) {
                $.toast({
                    heading: 'Visualizar Mensajes',
                    text: mensajeError,
                    position: 'top-right',
                    stack: false

                });
            }

            $('#btnSubmit').click(function () {
                var ventantaEspera = $('#Ventana_Espera');
                ventantaEspera.modal();
            });


            $("#form_crear_mensaje").submit(function (e) {


                var respuesta = objMensajeViewModel.estaValidado();

                if (respuesta == false) {

                    $.toast({
                        heading: 'Visualizar Mensajes',
                        text: 'Se requieren unos valores',
                        position: 'top-right',
                        stack: false

                    });

                    e.preventDefault();
                    var ventantaEspera = $('#Ventana_Espera');
                    ventantaEspera.modal('hide');
                }


            });

        });

        function regresar() {

            var rol = '@ViewBag.Rol';

            if (rol.toLocaleLowerCase() == "ejecutivo")
                window.location.href = '@Url.Action("Tramites_Pendientes", "AtenderTramite")';
            else
              window.location.href = '@Url.Action("Listar_Mis_Tramites", "MisTramites")';
        }

    </script>
     
    
    }


    <div class="container">

        <div class="page-header ">
            <h3> Mensajes</h3>
        </div>

        @{Html.RenderAction("CrearTituloTramite", "BaseSolicitudTramite", new { Tramite_Solicitados_ID = ViewBag.ID, returnUrl = ViewBag.ReturnUrl });}

        <div id="interfaz_formulario">


            @using (Html.BeginForm("Crear", "Mensajes", FormMethod.Post, new { id = "form_crear_mensaje" }))
            {

                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-custom clearfix">
                        <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Crear Mensajes</h4>
                        <div class="btn-group pull-right">

                            <button class="btn btn-success btn-sm" id="btnSubmit" type="submit"> Guardar <span class="glyphicon glyphicon-ok"></span></button>
                        </div>
                    </div>

                    <div class="panel-body">

                        <div class="form-group col-md-12">
                            <label>Escribir Mensajes</label>
                            <textarea rows="3" class="form-control" id="Comentario" name="Comentario" data-bind="textInput:Comentario"></textarea>
                        </div>

                        <input type="hidden" value="@ViewBag.ID" name="ID" />
                        <input type="hidden" value="@ViewBag.ReturnUrl" name="returnUrl" />
                    </div>
                </div>
            }

        </div>




        <div class="addScroll">

            @foreach (var item in Model)
            {

                <div class="panel panel-default">

                    <div class="panel-heading panel-heading-custom clearfix">
                        <h4 class="panel-title pull-left" style="padding-top: 7.5px;">@item.Entidad  <span class="badge">Folio: @item.Tramite_Solicitados_ID</span></h4>
                        <div class="pull-right">
                            @item.Fecha
                        </div>
                    </div>

                    <div class="panel-body">
                        @item.Mensaje
                    </div>


                    <div class="panel-footer clearfix">

                        <div class="pull-left">
                            <span class="label label-primary">@item.Nombre_Tramite</span>

                        </div>

                        <div class="pull-right">
                            @item.Estatus_Solicitud
                        </div>
                    </div>

                </div>

            }

        </div>

    </div>

    <div id="Ventana_Espera" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Procesando</h4>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar"
                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>