﻿@model IEnumerable<ModelDomain.ViewModel.TramitesView>

@{
    ViewBag.Title = "Trámite Disponible";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{var contador = 0;}
<link rel="stylesheet" type="text/css" href="~/Content/estilo_tramites_disponibles.css" />

<div class="container">

    <div class="page-header">
        <h3>Selecciona un tr&aacute;mite</h3>
    </div>

    <div class="panel-group" id="accordion">
        @foreach (var item in Model)
        {

        <div class="panel panel-default">

            <div class="panel-heading panel-heading-custom">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="@("#collapse"+item.Tramite_ID)">
                        @item.Nombre_Tramite &nbsp;&nbsp; <span class="badge"> @item.Costo_Tramite$</span>
                    </a>
                </h4>

            </div>

            @if (contador == 0)
            {

                 contador = contador + 1; 
            <div id="@("collapse" + item.Tramite_ID)" class="panel-collapse collapse in">
                <div class="panel-body">

                    <ul class="list-group">
                        <li class="list-group-item active"> Documentos Requeridos</li>
                        @foreach (var documento in item.Lista_Documentos)
                        {
                            <li class="list-group-item">@documento.name</li>
                        }

                    </ul>
                    <div style="text-align:right">
                      
                        <a href='@Url.Action("Crear", item.Controlador, new { Tramite_ID = item.Tramite_ID })'>
                             Realizar Tr&aacute;mite
                        </a>
                    </div>
                </div> 
            </div>
            }
            else
            {
                <div id="@("collapse" + item.Tramite_ID)" class="panel-collapse collapse">
                    <div class="panel-body">

                        <ul class="list-group">
                            <li class="list-group-item active"> Documentos Requeridos</li>
                            @foreach (var documento in item.Lista_Documentos)
                            {
                                <li class="list-group-item">@documento.name</li>
                            }

                        </ul>
                        <div style="text-align:right">
                            <a href='@Url.Action("Crear", item.Controlador, new { Tramite_ID = item.Tramite_ID })'>
                                Realizar Tr&aacute;mite
                            </a>
                        </div>
                  
                    </div>
                </div>
            }


        </div>









        }
    </div>

</div>






