﻿
body {
    background-color: #F1F1F1
}

/* mensaje errores */
.validationMessage {
    color: Red;
    font-size: 10px;
    font-family: Arial
}


/* botones hacerlos de cierto ancho */
.custom {
    width: 90px !important;
}

a.disabled {
    pointer-events: none;
    color: #ccc;
}


/* cambiar el color al panel */
.panel-default > .panel-heading-custom {
    background: #0091A2;
    color: #fff;
}


/* ponerle un background al menu */
.navbar.navbar-inverse {
    background: url(../img/bkg-header.jpg) repeat top left;
}

/* clase logo para poner una imagen el menu */

.logo img {
    width: 100% \9; /*Force IE10 and below to size SVG images correctly*/
    max-width: 100%;
    max-height:80px;
    padding:7px
}

@media (max-width:480px) {
    .logo img {
        width: 70% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 70% !important;
    }
}

@media (max-width:400px) {
    .logo img {
        width: 75% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 75%;
    }
}

@media (max-width:385px) {
    .logo img {
        width: 70% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 70%;
    }
}

@media (max-width:345px) {
    .logo img {
        width: 65% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 65%;
    }
}

@media (max-width:335px) {
    .logo img {
        width: 60% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 60%;
    }
}

@media (max-width:325px) {
    .logo img {
        width: 55% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 55%;
    }
}

@media (max-width:315px) {
    .logo img {
        width: 50% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 50%;
    }
}

/* cambiar el color a la línea de page header */
.page-header {
    border-bottom: 1px solid #5EAADE;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: url(../img/bkg-header.jpg) repeat top left;
    color: white;
    text-align: center;
}


/* dropdown en una tabla */

.btn-group {
    white-space: nowrap;
}

@media (max-width: 767px) {
    .table-responsive .dropdown-menu {
        position: static !important;
    }
}

@media (min-width: 768px) {
    .table-responsive {
        overflow: inherit;
    }
}

/* para validaciones */
form .error {
    color: Red;
    font-size: 10px;
    font-family: Arial
}