﻿
body {
    background-color: #F1F1F1;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* mensaje errores */
.validationMessage {
    color: Red;
    font-size: 10px;
    font-family: Arial
}


/* botones hacerlos de cierto ancho */
.custom {
    width: 90px !important;
}

a.disabled {
    pointer-events: none;
    color: #ccc;
}


/* cambiar el color al panel */
.panel-default > .panel-heading-custom {
    background: #0091A2;
    color: #fff;
}


/* ponerle un background al menu */
.navbar.navbar-inverse {
    background: url(../img/bkg-header.jpg) repeat top left;
}

/* clase logo para poner una imagen el menu */

.logo img {
    width: 100% \9; /*Force IE10 and below to size SVG images correctly*/
    max-width: 100%;
    max-height: 80px;
    padding: 7px
}

@media (max-width:480px) {
    .logo img {
        width: 70% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 70% !important;
    }
}

@media (max-width:400px) {
    .logo img {
        width: 75% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 75%;
    }
}

@media (max-width:385px) {
    .logo img {
        width: 70% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 70%;
    }
}

@media (max-width:345px) {
    .logo img {
        width: 65% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 65%;
    }
}

@media (max-width:335px) {
    .logo img {
        width: 60% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 60%;
    }
}

@media (max-width:325px) {
    .logo img {
        width: 55% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 55%;
    }
}

@media (max-width:315px) {
    .logo img {
        width: 50% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 50%;
    }
}

/* cambiar el color a la línea de page header */
.page-header {
    border-bottom: 1px solid #5EAADE;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: url(../img/bkg-header.jpg) repeat top left;
    color: white;
    text-align: center;
}


/*alert styling*/
.alert-success {
    border-color: #e6e6e6;
    border-left: 5px solid #00986a;
    background-color: #fff;
    color: #888;
}

.alert-info {
    border-color: #e6e6e6;
    border-left: 5px solid #00b3c8;
    background-color: #fff;
    color: #888;
}

.alert-warning {
    border-color: #e6e6e6;
    border-left: 5px solid #f9af2c;
    background-color: #fff;
    color: #888;
}

/*.alert-danger {
    border-color: #e6e6e6;
    border-left: 5px solid #c82630;
    background-color: #fff;
    color: #888;
}*/

@media (min-width: 768px) {
    .alert {
        border-radius: 6px;
        display: table;
        width: 100%;
        padding-left: 78px;
        position: relative;
        padding-right: 60px;
        border: 1px solid #e6e6e6;
    }

        .alert .close {
            color: #888;
            opacity: 1;
            float: none;
            position: absolute;
            right: 18px;
            top: 50%;
            margin-top: -12px;
            font-size: 25px;
        }

        .alert .icon {
            text-align: center;
            width: 58px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border: 1px solid #bdbdbd;
            padding-top: 15px;
            border-radius: 6px 0 0 6px;
        }

            .alert .icon i {
                font-size: 20px;
                color: #fff;
                left: 21px;
                margin-top: -10px;
                position: absolute;
                top: 50%;
            }

            .alert .icon img {
                font-size: 20px;
                color: #fff;
                left: 18px;
                margin-top: -10px;
                position: absolute;
                top: 50%;
            }
        /*============ colors ========*/
        .alert.alert-success .icon,
        .alert.alert-success .icon:after {
            border-color: none;
            background: #00986a;
        }

        .alert.alert-info .icon,
        .alert.alert-info .icon:after {
            border-color: none;
            background: #00b3c8;
        }

        .alert.alert-warning .icon,
        .alert.alert-warning .icon:after {
            border: none;
            background: #f9af2c;
        }

        .alert.alert-danger .icon,
        .alert.alert-danger .icon:after {
            border-color: none;
            background: #c82630;
        }
}
