﻿@model ModelDomain.ViewModel.Form_Pago_Multipagos

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PagoExitoso</title>
    <link type="text/css" href="~/Content/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/bootstrap-table.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/estilo_pago_exitoso.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/jquery.toast.min.css" rel="stylesheet" />

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="logo" href="../Inicio/Principal"> <img src="~/img/simapag_logo.png" /> </a>

            </div>
        </div>
    </div>

   
    <div class="body-content">

        <div class="container">


            <div class="row">

                <div class="col-md-6 col-sm-offset-3">

                    @if (Model.mensaje == "bien")
                    {
                        <div class="alert alert-success" role="alert">
                            <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
                            <div class="icon hidden-xs">
                                <i class="glyphicon glyphicon-ok"></i>
                            </div>

                            <strong>Proceso correcto</strong>
                            <br /> Pago En L&iacute;nea
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-custom"> <h4 class="panel-title"> Detalle Pago </h4> </div>

                            <div class="panel-body">

                                <dl class="dl-horizontal">

                                    <dt>
                                        Tr&aacute;mite:
                                    </dt>

                                    <dd>
                                        @Model.nombre_tramite
                                    </dd>

                                    <dt>
                                        Referencia:
                                    </dt>
                                    <dd>
                                        @Model.mp_reference
                                    </dd>

                                    <dt>
                                        Importe Pagado:
                                    </dt>

                                    <dd>
                                        @Model.mp_amount
                                    </dd>

                                    <dt>
                                        N&uacute;mero Autorizaci&oacute;n:
                                    </dt>
                                    <dd>
                                        @Model.mp_authorization
                                    </dd>

                                    <dt>
                                        N&uacute;mero de Tarjeta:
                                    </dt>
                                    <dd>
                                        @Model.mp_pan
                                    </dd>

                                </dl>


                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <a class="btn btn-primary" href="@Url.Action("Listar_Mis_Tramites","MisTramites")"> Volver a Mis Tr&aacute;mites <span class="glyphicon glyphicon-share-alt"></span>   </a>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger" role="alert">
                            <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
                            <div class="icon hidden-xs">
                                <i class="glyphicon glyphicon-remove"></i>
                            </div>

                            <strong>Error</strong>
                            <br /> Pago En L&iacute;nea
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-custom"> <h4 class="panel-title"> Detalle Error </h4> </div>

                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-md-12">
                                         <p>
                                              @Model.mensaje
                                         </p>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <a class="btn btn-primary" href="@Url.Action("Listar_Mis_Tramites","MisTramites")"> Volver a Mis Tr&aacute;mites <span class="glyphicon glyphicon-share-alt"></span>   </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    }


                </div>
            </div>


        </div>



    </div>
    <script type="text/javascript" src="~/Scripts/jquery-2.1.0.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-table.js"></script>
    <script type="text/javascript" src="~/Scripts/alert.js"></script>
    <script type="text/javascript" src="~/Scripts/bootbox.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.toast.min.js"></script>

</body>
</html>
