﻿
@model ModelDomain.ViewModel.PagosView
@using System.Configuration

@{
    ViewBag.Title = "Realizar_Pago";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts{
    
    <script type="text/javascript">



        function realizarPago() {

            $('#frm_enviar_pagos').submit();
        }

    </script>
    
    
    }


    <div class="container">

        <div class="page-header ">
            <h3> Pagos Agregados</h3>
        </div>

        <div class="panel panel-default">

            <div class="panel-heading clearfix panel-heading-custom">
                <h4 class="panel-title pull-left" style="padding-top: 7.5px;"> Listado Pagos </h4>

                <div class="btn-group pull-right">
                    <a class="btn btn-primary btn-sm custom" href="@Url.Action("Listar_Mis_Tramites", "MisTramites")">Regresar <span class="glyphicon glyphicon-share-alt"></span></a>
                </div>
            </div>

            <div class="panel-body">
                <div class="table-responsive">

                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>C&oacute;digo Barras</th>
                            <th>Estatus</th>
                            <th>Importe</th>
                            <th>IVA</th>
                            <th>Total</th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model.Lista_Pagos)
                        {
                            int valor;

                            if (ViewBag.Pago_Solicitudes_ID == null)
                            {
                                valor = 0;
                            }
                            else {
                                valor = (int)ViewBag.Pago_Solicitudes_ID;
                            }

                            <tr class="@(valor == item.Pago_Solicitudes_ID ? "success": "")">
                                <td> @item.Codigo_Barras</td>
                                <td> @item.Estatus </td>
                                <td> @item.Importe </td>
                                <td> @item.IVA </td>
                                <td> @item.Total </td>
                                <td style="text-align:center">

                                    @if (item.Estatus == "PENDIENTE")
                                    {
                                        <a class="btn btn-primary btn-sm custom" href='@Url.Action("Realizar_Pago", "Pagos", new { Tramite_Solicitados_ID = ViewBag.Tramite_Solicitados_ID, Pago_Solicitudes_ID = item.Pago_Solicitudes_ID })'> Seleccionar </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-primary btn-sm custom disabled" href="javascript:void(0)"> Seleccionar </a>
                                    }

                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>

        


        @if (Model.Lista_Pagos_Detalle.Count > 0)
        {

            <div class="page-header ">
                <h3> Detalle a pagar</h3>
            </div>


            <form id="frm_enviar_pagos" method="post" action="@ConfigurationManager.AppSettings["url_bancomer"]">

                <input type="hidden" id="mp_account" name="mp_account" value="@Model.Form_Pago_Multipagos.mp_account" />
                <input type="hidden" id="mp_product" name="mp_product" value="@Model.Form_Pago_Multipagos.mp_product" />
                <input type="hidden" id="mp_order" name="mp_order" value="@Model.Form_Pago_Multipagos.mp_order" />
                <input type="hidden" id="mp_reference" name="mp_reference" value="@Model.Form_Pago_Multipagos.mp_reference" />
                <input type="hidden" id="mp_node" name="mp_node" value="@Model.Form_Pago_Multipagos.mp_node" />
                <input type="hidden" id="mp_concept" name="mp_concept" value="@Model.Form_Pago_Multipagos.mp_concept" />
                <input type="hidden" id="mp_amount" name="mp_amount" value="@Model.Form_Pago_Multipagos.mp_amount" />
                <input type="hidden" id="mp_customername" name="mp_customername" value="@Model.Form_Pago_Multipagos.mp_customername" />
                <input type="hidden" id="mp_currency" name="mp_currency" value="@Model.Form_Pago_Multipagos.mp_currency" />
                <input type="hidden" id="mp_signature" name="mp_signature" value="@Model.Form_Pago_Multipagos.mp_signature" />
                <input type="hidden" id="mp_urlsuccess" name="mp_urlsuccess" value="@Model.Form_Pago_Multipagos.mp_urlsuccess" />
                <input type="hidden" id="mp_urlfailure" name="mp_urlfailure" value="@Model.Form_Pago_Multipagos.mp_urlfailure" />
            </form>


            <div class="panel panel-default">
                <div class="panel-heading panel-heading-custom">
                    <h4 class="panel-title">Conceptos Cobro</h4>
                </div>

                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">

                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <th>Concepto</th>
                                        <th>Cantidad</th>
                                        <th>Precio Unitario</th>
                                        <th>Importe</th>
                                    </tr>

                                    @foreach (var item in Model.Lista_Pagos_Detalle)
                                    {
                                        <tr>
                                            <td> @item.Concepto </td>
                                            <td> @item.Cantidad </td>
                                            <td> @item.Precio_Unitario </td>
                                            <td> @item.Importe </td>
                                        </tr>
                                    }

                                </table>


                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div style="text-align:right">

                                <button class="btn btn-primary" onclick="realizarPago();">Pagar</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            

           

        }


    </div>
