﻿
@model AplicacionWEB.Models.Cls_Autenticacion

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tr&aacute;mites</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/iconos_cajas.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.toast.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <style>
        /* mensaje errores */
        .validationMessage {
            color: Red;
            font-size: 10px;
            font-family: Arial
        }

        .row-flex {
            display: flex;
            flex-wrap: wrap;
        }

        /* vertical spacing between columns */

        [class*="col-"] {
            margin-bottom: 30px;
        }

        .panel {
            width: 100%;
            height: 100%;
        }

     
    
    </style>
</head>
<body>

    <section>


        <div class="jumbotron">
            <div class="container push-spaces">
                About
            </div>
        </div>

    </section>


    <div class="container">

        <div class="row row-flex">

            <div class="col-md-4 col-md-6 col-xs-12 col-md-offset-1">

                <div class="panel panel-default">

                    <div class="panel-heading panel-heading-custom">

                        <h3 class="panel-title"> Consulta saldo y pago en l&iacute;nea </h3>
                    </div>

                    <div class="panel-body">

                        @if (!string.IsNullOrEmpty(ViewBag.Mensaje))
                        {
                            <div class="alert alert-danger">
                                @ViewBag.Mensaje

                            </div>
                        }

                        @using (Html.BeginForm("Pagar_Recibo", "Login", FormMethod.Get))
                        {

                            <div class="form-group col-md-12">
                                <label>Introduce un RPU</label>
                                <input type="text" class="form-control" name="RPU" maxlength="20" id="RPU">
                            </div>

                            <br />

                            <button type="submit" id="boton_anonimo" class="btn btn-lg btn-primary btn-block"> Realizar Pago</button>

                        }



                    </div>

                </div>

            </div>

            <div class="col-md-4 col-md-6 col-xs-12 col-md-offset-1">

                <div class="panel panel-default">

                    <div class="panel-heading panel-heading-custom">

                        <h3 class="panel-title"> Tr&aacute;mites en l&iacute;nea </h3>
                    </div>


                    <div class="panel-body">

                        <div class="text-center">
                            <img src="~/img/proximamente.png" class="img-thumbnail" />
                        </div>
                       

                        @*@using (Html.BeginForm("Verificar_Usuario", "Login", FormMethod.Post))
                        {


                            if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                            {

                                <div class="alert alert-danger">
                                    @Html.ValidationSummary()

                                </div>

                            }

                            <fieldset>
                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.CorreoElectronico, new { @maxlength = "50", @class = "form-control", placeholder = "Correo Electrónico" })

                                </div>

                                <div class="form-group">
                                    @Html.PasswordFor(x => x.Password, new { @class = "form-control", @maxlength = "50", placeholder = "Contraseña" })

                                </div>

                                <input type="submit"  class="btn btn-lg btn-default btn-block" value="Aceptar" />
                                <button type="button"  class="btn btn-lg btn-primary btn-block" onclick="abrirVentanaRegistrarUsuario()">Registrarse</button>
                            </fieldset>



                        }

                        <br />

                        <div class="row">


                            <div class="btn-group pull-right">

                                <button type="button" disabled class="btn btn-link btn-sm" onclick="Abrir_Ventana_RecuperarPassword()">Recuperar Contrase&ntilde;a</button>
                                <button type="button" disabled class="btn btn-link btn-sm" onclick="Abrir_Ventana_Cambio_Password()">Cambiar Contrase&ntilde;a</button>

                            </div>

                        </div>*@

                    </div>


                </div>


            </div>




        </div>

    </div>


    <div id="Interface_Registro_Usuario">

        <div class="modal fade" id="Ventana_Registro_Usuario" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Registrarse</h4>
                    </div>
                    <div class="modal-body">

                        <form class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">*Correo electr&oacute;nico</label>
                                    <div class="col-md-4">
                                        <input class="form-control" data-bind="textInput:ModeloRegistroUsuario.Correo_Electronico" />
                                    </div>

                                    <label class="col-md-2 control-label">*Tel&eacute;fono</label>
                                    <div class="col-md-4">
                                        <input class="form-control" data-bind="textInput:ModeloRegistroUsuario.Telefono_Celular" />
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">*Nombre</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" data-bind="textInput:ModeloRegistroUsuario.Nombre" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">*Apellido Paterno</label>
                                    <div class="col-md-4">
                                        <input class="form-control" type="text" data-bind="textInput:ModeloRegistroUsuario.Apellido_Paterno" />
                                    </div>
                                    <label class="col-md-2 control-label">Apellido Materno</label>
                                    <div class="col-md-4">
                                        <input class="form-control" type="text" data-bind="textInput:ModeloRegistroUsuario.Apellido_Materno" />
                                    </div>

                                </div>


                                <div class="form-group">
                                    <label class="col-md-2 control-label">*Contrase&ntilde;a</label>
                                    <div class="col-md-4">

                                        <div class="inner-addon right-addon">
                                            <i class="far fa-eye glyphicon" id="togglePassword"></i>
                                            <input class="form-control" type="password" name="password" id="password" data-bind="textInput:ModeloRegistroUsuario.Password" />

                                        </div>
                                    </div>

                                    <label class="col-md-2 control-label">*Confirmar Contrase&ntilde;a</label>
                                    <div class="col-md-4">

                                        <div class="inner-addon right-addon">
                                            <i class="far fa-eye glyphicon" id="togglePasswordConfirmar"></i>
                                            <input class="form-control" type="password" name="passwordConfirmar" id="passwordConfirmar" data-bind="textInput:ModeloRegistroUsuario.ConfirmarPassword" />
                                        </div>


                                    </div>
                                </div>

                            </fieldset>

                        </form>


                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-primary" data-bind="click:guardar"> Aceptar <span class="glyphicon glyphicon-ok"></span> </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar  <span class="glyphicon glyphicon-remove"></span>  </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="Interface_Datos">

        <div class="modal fade" id="Ventana_Interfaz" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Cambio Contrase&ntilde;a</h4>
                    </div>
                    <div class="modal-body">

                        <form class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">*Correo electr&oacute;nico</label>
                                    <div class="col-md-9">
                                        <input class="form-control" data-bind="textInput:ModelCambioPassword.Correo" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">*Contrase&ntilde;a Actual</label>
                                    <div class="col-md-9">
                                        <input class="form-control" type="password" data-bind="textInput:ModelCambioPassword.PasswordActual" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">*Nueva Contrase&ntilde;a</label>
                                    <div class="col-md-9">
                                        <div class="inner-addon right-addon">
                                            <i class="far fa-eye glyphicon" id="togglePasswordNueva"></i>
                                            <input class="form-control" type="password" id="passwordNuevo" data-bind="textInput:ModelCambioPassword.Password" />
                                        </div>


                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">*Confirmar Contrase&ntilde;a</label>
                                    <div class="col-md-9">

                                        <div class="inner-addon right-addon">
                                            <i class="far fa-eye glyphicon" id="togglePasswordNuevaConfirmar"></i>
                                            <input class="form-control" type="password" id="passwordNuevoConfirmar" data-bind="textInput:ModelCambioPassword.ConfirmarPassword" />
                                        </div>


                                    </div>
                                </div>

                            </fieldset>

                        </form>


                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-primary" data-bind="click:Cambiar_Password"> Aceptar <span class="glyphicon glyphicon-ok"></span> </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar  <span class="glyphicon glyphicon-remove"></span>  </button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="Interface_Recupera_Password">
        <div class="modal fade" id="Ventana_Recuperar_Password" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Recuperar Contrase&ntilde;a</h4>
                    </div>
                    <div class="modal-body">

                        <form class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">*Correo electr&oacute;nico</label>
                                    <div class="col-md-9">
                                        <input class="form-control" data-bind="textInput:ModelRecuperarPassword.Correo" />
                                    </div>
                                </div>

                            </fieldset>

                        </form>


                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-primary" data-bind="click:RecuperarPassword"> Aceptar <span class="glyphicon glyphicon-ok"></span> </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar  <span class="glyphicon glyphicon-remove"></span>  </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Ventana_Espera" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Procesando</h4>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar"
                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>



    <script type="text/javascript" src="~/Scripts/jquery-2.1.0.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.toast.min.js"></script>
    <script type="text/javascript" src="~/Scripts/alert.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout-3.3.0.js"></script>
    <script type="text/javascript" src="~/Scripts/validacionesKO/knockout.validation.js"></script>
    <script type="text/javascript" src="~/Scripts/validacionesKO/es-ES.js"></script>
    <script type="text/javascript" src="~/Scripts/validacionesKO/Reglas_Validacion.js"></script>
    <script type="text/javascript" src="~/Scripts/validacionesKO/Util_KO.js"></script>

    <script type="text/javascript" src="~/Scripts/Aplicativo/CambiarPassword/UI/CambiarPasswordUI.js?3"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/CambiarPassword/Model/CambiarPasswordModel.js?2"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/CambiarPassword/CambiarPasswordViewModel.js?1"></script>


    <script type="text/javascript" src="~/Scripts/Aplicativo/RegistrarUsuario/Model/RegistroUsuarioModel.js?1"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/RegistrarUsuario/UI/RegistroUsuarioUI.js"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/RegistrarUsuario/RegistroUsuarioViewModel.js"></script>

    <script type="text/javascript" src="~/Scripts/Aplicativo/RecuperarPassword/Model/RecuperarPasswordModel.js"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/RecuperarPassword/UI/RecuperarPasswordUI.js"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/RecuperarPassword/RecuperarPasswordViewModel.js"></script>

    <script type="text/javascript">

        $(function () {

            $('#boton_anonimo').click(function () {
                var ventantaEspera = $('#Ventana_Espera');
                ventantaEspera.modal();
            });

        });

    </script>

</body>
</html>
