﻿
@{
    ViewBag.Title = "Listar Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link type="text/css" href="~/Content/jquery.treegrid.min.css" rel="stylesheet" />

@section scripts{

    <script type="text/javascript" src="~/Scripts/extensiones/bootstrap-table-treegrid.js"></script>
    <script type="text/javascript" src="~/Scripts/extensiones/jquery.treegrid.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/Menu/UI/MenuUI.js"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/Menu/Model/MenuModel.js"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/Menu/MenuViewModel.js"></script>
}


<div class="container">
    <div class="page-header ">
        <h3>Men&uacute;</h3>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading panel-heading-custom"> <h4 class="panel-title"> Listado  </h4> </div>

        <div class="panel-body">
            <div id="toolbar" class="btn-group">

                <div id="Interface_Botones">

                    <button type="button" class="btn btn-default" title="Nuevo" data-bind="click:PeticionNuevoElemento">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>

                </div>

            </div>


            <table id="tabla_menus"
                   data-toggle="table"
                   data-pagination="true"
                   data-search="true"
                   data-side-pagination="server"
                   data-toolbar="#toolbar"
                   data-striped="true"
                   data-show-toggle="false"
                   data-show-columns="false"
                   data-show-refresh="false">
                <thead>
                    <tr>
                        <th data-field="id" data-align="center" data-formatter="Botones_Operacion_Formato_Eliminar"
                            data-events="Botones_Operacion_Evento">

                        </th>
                        <th data-field="id_parent" data-formatter="Botones_Operacion_Formato_Editar"
                            data-events="Botones_Operacion_Evento" data-align="center">

                        </th>
                        <th data-field="sub_menu">Sub Men&uacute;</th>
                        <th data-field="menu_padre">Men&uacute; Padre</th>
                        <th data-field="accion">Acci&oacute;n</th>
                        <th data-field="controlador">Controlador</th>
                        <th data-field="orden">Orden</th>
                        <th data-field="estatus">Estatus</th>
                    </tr>

                </thead>

            </table>

        </div>
    </div>




</div>


<div id="Interface_Datos">
    <!-- Modal -->
    <div class="modal fade" id="Ventana_Interfaz" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Men&uacute;</h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Tipo</label>
                                <div class="col-md-4">
                                    <select class="form-control" data-bind="options:ArregloTipo, value:ModeloMenu.Tipo,event:{change:Evento_Cambio_Tipo_Menu}, enable:BloquearTipo"> </select>

                                </div>

                                <label class="col-md-2 control-label"> Men&uacute; </label>
                                <div class="col-md-4">
                                    <select class="form-control" data-bind="options: ArregloMenuPaPa, optionsText:'name' , value:ModeloMenu.MenuSeleccion , optionsCaption:'Selecciona',enable: SolicitarDato"></select>
                                </div>


                            </div>

                            <div class="form-group">

                                <label class="col-md-2 control-label">*Descripci&oacute;n</label>
                                <div class="col-md-4">
                                    <input class="form-control" data-bind="textInput:ModeloMenu.Menu_Descripcion" />
                                </div>

                                <label class="col-md-2 control-label">Orden</label>
                                <div class="col-md-4">
                                    <input class="form-control" data-bind="textInput:ModeloMenu.Orden,enable: SolicitarDato" />
                                </div>


                            </div>


                            <div class="form-group">

                                <label class="col-md-2 control-label">Controlador</label>
                                <div class="col-md-4">
                                    <input class="form-control" data-bind="textInput:ModeloMenu.Controlador,enable: SolicitarDato" />
                                </div>

                                <label class="col-md-2 control-label"> Acci&oacute;n</label>
                                <div class="col-md-4">
                                    <input class="form-control" data-bind="textInput:ModeloMenu.Accion,enable: SolicitarDato" />
                                </div>


                            </div>



                            <div class="form-group">
                                <label class="col-md-2 control-label">*Estatus</label>
                                <div class="col-md-4">
                                    <select class="form-control" data-bind="options:ArregloEstatus , value:ModeloMenu.Estatus, optionsCaption: 'Selecciona'"> </select>
                                </div>
                            </div>

                        </fieldset>


                    </form>

                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary" data-bind="click:Aceptar_Operacion"> Aceptar <span class="glyphicon glyphicon-ok"></span> </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar  <span class="glyphicon glyphicon-remove"></span>  </button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->

<div class="modal fade" id="VentanaEliminar" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Menu</h4>
            </div>
            <div class="modal-body">
                <p>¿Deseas Eliminar el elemento seleccionado : &nbsp; <span id="SpanDato"></span> &nbsp;?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Eliminar_Registro()">Aceptar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="VentanaInactivar" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Men&uacute;</h4>
            </div>
            <div class="modal-body">
                <p>El elemento: &nbsp; <b> <span id="SpanDatoInactivar"></span></b> &nbsp;  esta referenciado en otra tabla, No se puede eliminar</p>
                <br />
                <p>¿Deseas Cambiarle el estatus a INACTIVO?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Inactivar_Elemento()">Aceptar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>

</div>

<div id="Ventana_Espera" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Procesando</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


