﻿
<!DOCTYPE html>
<html>
<head>
    <title> @ViewBag.Title</title>
    <link type="text/css" href="~/Content/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/bootstrap-table.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/estilos.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/jquery.toast.min.css" rel="stylesheet" />

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="logo" href="../Inicio/Principal"> <img src="~/img/simapag_logo.png" /> </a>

            </div>
            <div class="navbar-collapse collapse">
                @{Html.RenderAction("Construir_Menu", "Elaborar_Menu");}

                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <p class="navbar-text"> Bienvenido:  @Session["NombreCompleto"] </p>
                    </li>
                    <li>

                        @using (Html.BeginForm("Salir", "Login"))
                        {
                            <button type="submit" class="btn btn-primary navbar-btn">Salir <span class="glyphicon  glyphicon-log-out"> </span></button>
                        }

                    </li>
                </ul>


            </div>
        </div>

    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="body-content">
        @RenderBody()
        <br />
        <div class="footer">
            <p>&copy;@DateTime.Now.Year Tr&aacute;mites en l&iacute;nea SIMAPAG </p>
        </div>
    </div>
    

    <script type="text/javascript">
    //session end
    var sessionTimeoutWarning = @Session.Timeout- 1;

    var sTimeout = parseInt(sessionTimeoutWarning) * 60 * 1000;
    setTimeout('SessionEnd()', sTimeout);

    function SessionEnd() {
        window.location.href = "@Url.Action("Salir","Login")";
    }
    </script>



    <script type="text/javascript" src="~/Scripts/jquery-2.1.0.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-table.js"></script>
    <script type="text/javascript" src="~/Scripts/alert.js"></script>
    <script type="text/javascript" src="~/Scripts/bootbox.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.toast.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout-3.3.0.js"></script>
    <script type="text/javascript" src="~/Scripts/validacionesKO/knockout.validation.js"></script>
    <script type="text/javascript" src="~/Scripts/validacionesKO/es-ES.js"></script>
    <script type="text/javascript" src="~/Scripts/validacionesKO/Reglas_Validacion.js"></script>
    <script type="text/javascript" src="~/Scripts/validacionesKO/Util_KO.js"></script>


    @RenderSection("scripts", required: false)
    @RenderSection("style", required: false)


</body>
</html>