﻿@model PagedList.IPagedList<ModelDomain.ViewModel.TramitesSolicitudView>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Mis Tramites";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" type="text/css" href="~/Content/estilos.css" />

@section Scripts {
    
    
<script type="text/javascript">

        var Ruta_Reporte = '@Url.Action("Generar_Mis_Tramites", "PDFExport")';


        function exportarExcel() {
            //window.location = Ruta_Reporte + "?sortOrder=" + '@ViewBag.sortOrder' + "&searchString=" + $('#SearchString').val();
            window.open(Ruta_Reporte + "?sortOrder=" + '@ViewBag.sortOrder' + "&searchString=" + $('#SearchString').val(), "Mis Trámites", "width=800px,height=600px,scrollbar=YES");
        }

</script>

    }


    <div class="container">


        <div class="page-header ">
            <h3>Mis Tr&aacute;mites</h3>
        </div>


        <div class="panel panel-default">

            <div class="panel-heading panel-heading-custom">
                <h4 class="panel-title">Filtros</h4>
            </div>

            <div class="panel-body">

                @using (Html.BeginForm("Listar_Mis_Tramites", "MisTramites", FormMethod.Get, htmlAttributes: new { @class = "form-inline", autocomplete = "off" }))
                {


                    <div class="form-group">
                        <label>B&uacute;squeda</label>
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control" })
                    </div>

                    <input type="submit" value="Buscar" class="btn btn-primary" />


                }

            </div>

        </div>





        <div class="panel panel-default">

            <div class="panel-heading panel-heading-custom clearfix">
                <h4 class="panel-title pull-left" style="padding-top: 7.5px;"> Listado </h4>

                <div class="btn-group pull-right">
                    <button class="btn btn-primary btn-sm" onclick="exportarExcel();"> Exportar PDF <span class="glyphicon glyphicon-circle-arrow-down"></span></button>
                </div>
            </div>

            <div class="panel-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <th>
                                        Acciones
                                    </th>
                                    <th> Folio</th>
                                    <th>Fecha</th>
                                    <th>
                                        RPU
                                    </th>
                                    <th>
                                        Usuario
                                    </th>
                                    <th>
                                        @Html.ActionLink("Nombre Tramite", "Listar_Mis_Tramites", new { sortOrder = ViewBag.NombreTramiteSortParm, currentFilter = ViewBag.CurrentFilter })

                                    </th>
                                    <th>
                                        Costo Tramite
                                    </th>
                                    <th>
                                        Estatus
                                    </th>
                                    <th>
                                        Observaciones
                                    </th>

                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a href='@Url.Action("Editar", item.Controlador, new { Tramite_Solicitados_ID = item.Tramite_Solicitados_ID })'>
                                                            Editar
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href='@Url.Action("Visualizar","Mensajes", new { Tramite_Solicitados_ID = item.Tramite_Solicitados_ID ,returnUrl = Request.Url.PathAndQuery})'>
                                                            Mensajes <span class="badge"> @item.NumeroMensajes </span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href='@Url.Action("Realizar_Pago","Pagos",new { Tramite_Solicitados_ID = item.Tramite_Solicitados_ID})'>
                                                            Pagar <span class="badge"> @item.NumeroPago </span>
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Tramite_Solicitados_ID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Fecha_Solicitud)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RPU)
                                        </td>
                                        <td>
                                            @item.Usuario
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nombre_Tramite)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Costo_Tramite)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Estatus_Revision)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Observaciones)
                                        </td>


                                    </tr>
                                }

                            </table>



                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-12" style="text-align:right">
                        P&aacute;gina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
                        @Html.PagedListPager(Model, page => Url.Action("Listar_Mis_Tramites",
                    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                    </div>

                </div>

            </div>

        </div>









    </div>


