﻿
@{
    ViewBag.Title = "Tramites Pendientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts{


    <script type="text/javascript" src="~/Scripts/Aplicativo/AtenderTramite/Model/AtenderTramiteModel.js?2"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/AtenderTramite/UI/AtenderTramiteUI.js?5"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/AtenderTramite/AtenderTramiteViewModel.js?5"></script>

    <script type="text/javascript">
        var Datos_Lista_Tramites = '@Html.Raw(ViewBag.Lista_Tramites)'
        var URl_Visualizar_Mensaje = '@Url.Action("Visualizar", "Mensajes")';
    </script>


}



<div id="Interfaz_Atender_Tramites">

    <div class="container">

        <div class="page-header ">
            <h3>Atender Tr&aacute;mites</h3>
        </div>

        <div class="panel panel-default">

            <div class="panel-heading panel-heading-custom"> <h4 class="panel-title"> Filtros  </h4> </div>

            <div class="panel-body">

                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-1 control-label"> Tr&aacute;mite </label>
                        <div class="col-md-11">
                            <select class="form-control" data-bind="options:ArregloTramite, value:ModeloBusquedaSolicitud.Tramite_Selected,optionsText:'name',optionsCaption:'Selecciona',event:{change:eventoTramite }"></select>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-md-1 control-label"> Estatus </label>
                        <div class="col-md-11">
                            <select class="form-control" data-bind="options:ArregloEstatus , value:ModeloBusquedaSolicitud.Estatus, optionsCaption: 'Selecciona',event:{change:eventoEstatus }"></select>
                        </div>
                    </div>
                </form>

            </div>

        </div>



        <div class="panel panel-default">

            
            <div class="panel-heading panel-heading-custom"> <h4 class="panel-title"> Solicitudes  </h4> </div>
            

            <div class="panel-body">
                <div id="toolbar" class="btn-group">
                    <button type="button" class="btn btn-primary" title="inspeccionar solicitud" onclick="inspeccionar();">Inspeccionar <span class="glyphicon glyphicon-pencil"></span></button>
                    <button type="button" class="btn btn-primary" title="calificar solicitud" onclick="calificar();">Calificar <span class="glyphicon glyphicon-ok"></span> </button>
                    <button type="button" class="btn btn-primary" title="visualizar mensajes" onclick="visualizarMensajes();">Mensajes <span class="glyphicon glyphicon-eye-open"></span> </button>
                    <button type="button" class="btn btn-danger" title="agregar pagos" onclick="agregarPagos();">Agregar Pagos <span class="glyphicon glyphicon-usd"></span></button>
                </div>


                <table id="Tabla_Solicitudes_Tramite"
                       data-toggle="table"
                       data-pagination="true"
                       data-search="true"
                       data-side-pagination="server"
                       data-toolbar="#toolbar"
                       data-striped="true"
                       data-show-toggle="false"
                       data-show-columns="false"
                       data-show-refresh="false">
                    <thead>
                        <tr>
                            <th data-formatter="mensajesFormatter"><span class="glyphicon glyphicon-eye-open"></span></th>
                            <th data-formatter="pagosFormatter"><span class="glyphicon glyphicon-usd"></span></th>
                            <th data-field="Tramite_Solicitados_ID">Folio</th>
                            <th data-field="Nombre_Tramite">Nombre Tr&aacute;mite </th>
                            <th data-field="Usuario">Usuario </th>
                            <th data-field="RPU">RPU </th>
                            <th data-field="Costo_Tramite">Costo</th>
                            <th data-field="Estatus_Revision">Estatus</th>
                            <th data-field="Str_Fecha_Solicitud">Fecha</th>
                            <th data-field="Telefono">Tel&eacute;fono</th>
                            <th data-field="Observaciones">Observaciones</th>
                        </tr>
                    </thead>

                </table>

            </div>
        </div>


       


    </div>

</div>


´  <div id="Interfaz_Agregar_Pago">


    <div class="modal fade" id="Ventana_Interfaz_Agregar_Pago" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Agregar Pago</h4>
                </div>
                <div class="modal-body">


                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#agregar">Agregar Pago</a></li>
                        <li><a data-toggle="tab" href="#listar">Lista Pagos Agregados</a></li>
                    </ul>


                    <div class="tab-content">
                        <div id="agregar" class="tab-pane fade in active">

                            <br />
                            <form class="form-horizontal">
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Introduce un c&oacute;digo de barras o RPU</label>
                                        <div class="col-md-8">
                                            <input class="form-control" data-bind="textInput:ModeloBuscarCodigo.Codigo_Barras" />
                                        </div>
                                    </div>
                                </fieldset>


                                <div id="toolbar_buscar_codigo">
                                    <button class="btn btn-primary" data-bind="click:buscarCodigoBarras">Buscar</button>
                                    <button class="btn btn-success" data-bind="click:guardarPago">Guardar</button>

                                </div>


                                <table id="Tabla_Busqueda_Codigo"
                                       data-toggle="table"
                                       data-pagination="true"
                                       data-search="false"
                                       data-side-pagination="server"
                                       data-toolbar="#toolbar_buscar_codigo"
                                       data-page-size="20"
                                       data-striped="true"
                                       data-show-toggle="false"
                                       data-show-columns="false"
                                       data-show-refresh="false">
                                    <thead>
                                        <tr>
                                            <th data-field="RPU">RPU</th>
                                            <th data-field="Codigo_Barras">C&oacute;digo de Barras </th>
                                            <th data-field="Importe">Importe </th>
                                            <th data-field="IVA">IVA </th>
                                            <th data-field="Total">Total</th>
                                        </tr>
                                    </thead>

                                </table>

                                <br />

                                <table id="Tabla_Busqueda_Codigo_Detalle"
                                       data-toggle="table"
                                       data-pagination="true"
                                       data-search="false"
                                       data-side-pagination="server"
                                       data-page-size="20"
                                       data-striped="true"
                                       data-show-toggle="false"
                                       data-show-columns="false"
                                       data-show-refresh="false">
                                    <thead>
                                        <tr>
                                            <th data-field="Concepto">Concepto </th>
                                            <th data-field="Precio_Unitario">Precio </th>
                                            <th data-field="Importe">Importe </th>

                                        </tr>
                                    </thead>

                                </table>




                            </form>

                        </div>
                        <div id="listar" class="tab-pane fade">
                            <br />

                            <table id="Tabla_Pagos_Agregados"
                                   data-toggle="table"
                                   data-pagination="true"
                                   data-search="true"
                                   data-side-pagination="server"
                                   data-striped="true"
                                   data-show-toggle="false"
                                   data-show-columns="false"
                                   data-show-refresh="false">
                                <thead>
                                    <tr>
                                        <th  data-formatter="Botones_Operacion_Formato_Cancelar"
                                            data-events="Botones_Operacion_Evento" data-align="center"></th>
                                        <th data-field="Codigo_Barras">C&oacute;digo Barras </th>
                                        <th data-field="Estatus">Estatus </th>
                                        <th data-field="Importe">Importe </th>
                                        <th data-field="IVA">IVA</th>
                                        <th data-field="Total">Estatus</th>
                                        <th data-field="Fecha_Creo">Fecha</th>

                                    </tr>
                                </thead>

                            </table>

                            <br />

                            <table id="Tabla_Pagos_Agregados_Detalle"
                                   data-toggle="table"
                                   data-pagination="true"
                                   data-search="false"
                                   data-side-pagination="server"
                                   data-striped="true"
                                   data-show-toggle="false"
                                   data-show-columns="false"
                                   data-show-refresh="false">
                                <thead>
                                    <tr>
                                        <th data-field="Concepto">Concepto </th>
                                        <th data-field="Cantidad">Cantidad  </th>
                                        <th data-field="Precio_Unitario">Precio Unitario</th>
                                        <th data-field="Importe">Importe</th>

                                    </tr>
                                </thead>

                            </table>


                        </div>

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar  <span class="glyphicon glyphicon-remove"></span>  </button>
                </div>
            </div>
        </div>
    </div>


</div>


<div id="Interfaz_Calificar_Solicitud">


    <div class="modal fade" id="Ventana_Interfaz_Calificar_Solicitud" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Calificar Solicitud</h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal">
                        <fieldset>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Folio</label>
                                <div class="col-md-10">
                                    <input class="form-control" data-bind="textInput:ModeloMensajeSolicitud.Tramite_Solicitados_ID,enable: bloquearControl" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Tr&aacute;mite</label>
                                <div class="col-md-10">
                                    <input class="form-control" data-bind="textInput:ModeloMensajeSolicitud.Nombre_Tramite,enable: bloquearControl" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Estatus</label>
                                <div class="col-md-10">
                                    <select class="form-control" data-bind="options:ArregloEstatus , value:ModeloMensajeSolicitud.Estatus_Solicitud, optionsCaption: 'Selecciona'"></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Mensaje</label>
                                <div class="col-md-10">
                                    <textarea rows="3" class="form-control" data-bind="textInput:ModeloMensajeSolicitud.Mensaje"></textarea>
                                </div>
                            </div>

                        </fieldset>

                    </form>


                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary" data-bind="click:guardarMensaje"> Aceptar <span class="glyphicon glyphicon-ok"></span> </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar  <span class="glyphicon glyphicon-remove"></span>  </button>
                </div>
            </div>
        </div>
    </div>


</div>


<div class="modal fade" id="VentanaEliminar" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Tr&aacute;mites</h4>
            </div>
            <div class="modal-body">
                <p>¿Deseas Cancelar el elemento seleccionado : &nbsp; <span id="SpanDato"></span> &nbsp;?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Eliminar_Registro()">Aceptar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>




<div id="Ventana_Espera" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Procesando</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

