﻿
@{
    ViewBag.Title = "Catalogo_Tramites";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{

    <script type="text/javascript" src="~/Scripts/Aplicativo/CatalogoTramites/Model/TramiteModel.js?1"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/CatalogoTramites/UI/TramiteUI.js?1"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/CatalogoTramites/TramiteViewModel.js?1"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/CatalogoTramites/TramiteDocumentoViewModel.js"></script>

    <script type="text/javascript">
        var Datos_Lista_Documentos = '@Html.Raw(ViewBag.Lista_Documentos)'

    </script>

}




<div id="interfaz_catalogo_tramites">




    <div class="container">

        <div class="page-header ">
            <h3>Cat&aacute;logo de Tr&aacute;mites</h3>
        </div>

        <div id="toolbar" class="btn-group">

            <button type="button" class="btn btn-default" title="Nuevo" data-bind="click:Nuevo_Elemento">
                <i class="glyphicon glyphicon-plus"></i>
            </button>

        </div>

        <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom"> <h4 class="panel-title"> Listado  </h4> </div>
            <div class="panel-body">
                <table id="Tabla_Tramite"
                       data-toggle="table"
                       data-pagination="true"
                       data-search="true"
                       data-side-pagination="server"
                       data-toolbar="#toolbar"
                       data-striped="true"
                       data-show-toggle="false"
                       data-show-columns="false"
                       data-show-refresh="false">
                    <thead>
                        <tr>
                            <th data-field="id" data-formatter="Botones_Operacion_Formato_Eliminar"
                                data-events="Botones_Operacion_Evento" data-align="center"></th>
                            <th data-formatter="Botones_Operacion_Formato_Editar"
                                data-events="Botones_Operacion_Evento" data-align="center"></th>
                            <th data-formatter="Botones_Operacion_Agregar_Documento"
                                data-events="Botones_Operacion_Evento" data-align="center"></th>
                            <th data-field="Nombre_Tramite">Nombre Tr&aacute;mite </th>
                            <th data-field="Costo_Tramite">Costo</th>
                            <th data-field="Nivel_Banco"> Nivel Banco</th>
                            <th data-field="Estatus">Estatus</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom"> Documentos Asignados</div>
            <div class="panel-body">

                <table id="Tabla_Tramites_Documento"
                       data-toggle="table"
                       data-pagination="true"
                       data-search="false"
                       data-side-pagination="server"
                       data-striped="true"
                       data-show-toggle="false"
                       data-show-columns="false"
                       data-show-refresh="false">
                    <thead>
                        <tr>
                            <th data-field="id" data-formatter="Botones_Operacion_Formato_Eliminar_Tramite_Documento"
                                data-events="Botones_Operacion_Evento" data-align="center"></th>
                            <th data-field="Nombre_Documento">Documento</th>

                        </tr>
                    </thead>

                </table>

            </div>
        </div>

    </div>


    <div class="modal fade" id="Ventana_Interfaz" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Cat&acute;logo de Tr&acute;mites</h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal">
                        <fieldset>


                            <div class="form-group">
                                <label class="col-md-2 control-label">*Nombre Tr&aacute;mite</label>
                                <div class="col-md-10">
                                    <input class="form-control" data-bind="textInput:ModeloTramite.Nombre_Tramite" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">*Costo</label>
                                <div class="col-md-10">
                                    <input class="form-control" data-bind="textInput:ModeloTramite.Costo_Tramite" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Controlador</label>
                                <div class="col-md-10">
                                    <input class="form-control" data-bind="textInput:ModeloTramite.Controlador" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">* Nivel de banco</label>
                                <div class="col-md-10">
                                    <input class="form-control" data-bind="textInput:ModeloTramite.Nivel_Banco" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">*Estatus</label>
                                <div class="col-md-10">
                                    <select class="form-control" data-bind="options:ArregloEstatus , value:ModeloTramite.Estatus, optionsCaption: 'Selecciona'"> </select>
                                </div>
                            </div>
                        </fieldset>

                    </form>


                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary" data-bind="click:Aceptar_Operacion"> Aceptar <span class="glyphicon glyphicon-ok"></span> </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar  <span class="glyphicon glyphicon-remove"></span>  </button>
                </div>
            </div>
        </div>
    </div>




</div>


<div id="Interfaz_Tramite_Documentos">

    <div class="modal fade" id="Ventana_Interfaz_Tramites_Documento" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Tr&aacute;mite Documentos</h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal">
                        <fieldset>


                            <div class="form-group">
                                <label class="col-md-2 control-label">Tr&aacute;mite</label>
                                <div class="col-md-10">
                                    <input class="form-control" data-bind="textInput:ModeloTramiteDocumento.Nombre_Tramite,enable: bloquearControl" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Documento</label>
                                <div class="col-md-10">
                                    <select class="form-control" data-bind="options:ArregloDocumentos, value:ModeloTramiteDocumento.Documento_Selected,optionsText:'name',optionsCaption:'Selecciona'"></select>
                                </div>
                            </div>

                        </fieldset>

                    </form>


                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary" data-bind="click:Aceptar_Operacion"> Aceptar <span class="glyphicon glyphicon-ok"></span> </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar  <span class="glyphicon glyphicon-remove"></span>  </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="VentanaEliminar" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Tr&aacute;mites</h4>
            </div>
            <div class="modal-body">
                <p>¿Deseas Eliminar el elemento seleccionado : &nbsp; <span id="SpanDato"></span> &nbsp;?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Eliminar_Registro()">Aceptar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="VentanaEliminarTramiteDocumento" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Tr&aacute;mites y Documentos</h4>
            </div>
            <div class="modal-body">
                <p>¿Deseas Eliminar el elemento seleccionado : &nbsp; <span id="SpanDatoTramite"></span> &nbsp;?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Eliminar_Registro_Tramite_Documento()">Aceptar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div id="Ventana_Espera" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Procesando</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

