﻿
@model PagedList.IPagedList<ModelDomain.ViewModel.TramitesSolicitudView>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Trámites Asignar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{


    <script type="text/javascript">


        $(function () {


            $("#form_tramites_seleccionados").submit(function (e) {


                var arraySeleccionado = $("input[name='SolicitudesTramiteLista']:checked");

                if (arraySeleccionado.length == 0 || arraySeleccionado == undefined) {

                    $.toast({
                        heading: 'Asignar Trámite',
                        text: 'Selecciona una solicitud',
                        position: 'top-right',
                        stack: false
                        
                    });

                    e.preventDefault();
                }


            });

        });



        function callChangefunc(val) {

            if (val > 0)
                window.location.href = "/AsignarTramite/ListarTramites?Tramite_ID=" + val;
            else
                window.location.href = "/AsignarTramite/ListarTramites";
        }
    </script>

}


<div>


    <div class="container">
        <div class="page-header ">
            <h3>Asignar Tr&aacute;mites</h3>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom"> <h4 class="panel-title"> Filtros  </h4> </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Selecciona un Tr&aacute;mite</label>
                    @Html.DropDownList("ComboTramites", null, htmlAttributes: new { @class = "form-control", @onchange = "callChangefunc(this.value)" })
                </div>
            </div>

        </div>

     


        <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom"> <h4 class="panel-title"> Listado  </h4> </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            @using (Html.BeginForm("ProcesarTramitesSeleccionados", "AsignarTramite", FormMethod.Post, new { id = "form_tramites_seleccionados" }))
                            {
                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <th> Folio</th>
                                        <th>Fecha</th>
                                        <th>
                                            RPU
                                        </th>
                                        <th>
                                            @Html.ActionLink("Nombre Tramite", "ListarTramites", new { sortOrder = ViewBag.NombreTramiteSortParm, currentFilter = ViewBag.CurrentFilter })

                                        </th>
                                        <th>
                                            Costo Tramite
                                        </th>
                                        <th>
                                            Estatus
                                        </th>
                                        <th>
                                            Observaciones
                                        </th>
                                        <th>
                                            Sel.
                                        </th>
                                    </tr>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Tramite_Solicitados_ID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Fecha_Solicitud)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RPU)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Nombre_Tramite)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Costo_Tramite)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Estatus_Revision)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Observaciones)
                                            </td>

                                            <td style="text-align:center">
                                                <input id="SolicitudesTramiteLista" name="SolicitudesTramiteLista" class="solicitudes" type="checkbox" value="@item.Tramite_Solicitados_ID">

                                            </td>
                                        </tr>
                                    }

                                </table>

                                <div style="text-align:right">
                                    <input type="submit" value="Siguiente" class="btn btn-primary" />
                                </div>

                            }



                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-12" style="text-align:right">
                        <br />
                        P&aacute;gina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
                        @Html.PagedListPager(Model, page => Url.Action("ListarTramites",
                    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

                    </div>

                </div>

            </div>

        </div>

      
     
       


    </div>





</div>

