﻿@model  ModelDomain.ViewModel.AsignarSolicitudesViewModel

@{
    ViewBag.Title = "Asignar Trámites";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts{
    
    <script type="text/javascript">

        $(function () {

             var mensaje = "@ViewBag.Mensaje";

              if (mensaje !== undefined && mensaje.length > 0) {
                  $.toast({
                      heading: 'Asignar Trámite',
                      text: mensaje,
                      position: 'top-right',
                      stack: false

                  });
              }

            $("#form_guardar_asignacion").submit(function (e) {


                var Seleccionado = $("input[name='UsuarioSelected']:checked");

                if (Seleccionado.length == 0) {

                    $.toast({
                        heading: 'Asignar Trámite',
                        text: 'Seleccione un ejecutivo',
                        position: 'top-right',
                        stack: false

                    });

                    e.preventDefault();
                }


            });

        });

    </script>
    
    }


    <div class="container">

        <div class="page-header ">
            <h3>Asignar Tr&aacute;mites</h3>
        </div>
        <div style="text-align:right">
            <button class="btn btn-primary btn-sm" onclick="@("window.location.href='" + @Url.Action("ListarTramites", "AsignarTramite") + "'");"> Regresar <span class="glyphicon glyphicon-share-alt"></span></button>

        </div>
        <br />
        @using (Html.BeginForm("Guardar_Tramite", "AsignarTramite", FormMethod.Post, new { id = "form_guardar_asignacion" }))
        {
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-custom clearfix">
                    <h4 class="panel-title pull-left"> Usuarios  Ejecutivos </h4>
                    <div class="btn-group pull-right">

                    </div>
                </div>

                <div class="panel-body">
                    <div class="table-responsive">

                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido Paterno </th>
                                <th>Apellido Materno </th>
                                <th style="text-align:center">Sel.</th>
                            </tr>

                            @foreach (var item in Model.Lista_Ejecutivos)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(x => item.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => item.Apellido_Paterno)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => item.Apellido_Materno)
                                    </td>
                                    <td style="text-align:center">
                                        <input type="radio" id="UsuarioSelected" name="UsuarioSelected" value="@item.Usuarios_ID" />
                                    </td>

                                </tr>
                            }
                        </table>

                        <div style="text-align:right">
                            <input type="submit" value="Guardar" class="btn btn-primary" />
                        </div>

                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading panel-heading-custom">
                    <h4 class="panel-title"> Tr&aacute;mites Seleccionados </h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>
                                    Folio
                                </th>
                                <th>
                                    Nombre del Tr&aacute;mite
                                </th>
                            </tr>
                            @foreach (var item in Model.Lista_Solicitudes)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(x => item.Tramite_Solicitados_ID)
                                        <input type="hidden" id="SolicitudesTramiteLista" name="SolicitudesTramiteLista" value="@item.Tramite_Solicitados_ID" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => item.Nombre_Tramite)
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>

                </div>

            </div>
        }









    </div>
