﻿@model ModelDomain.ViewModel.PagosViewAsignacion

@{
    ViewBag.Title = "Agregar Pagos";
}


@section Scripts {



    <script type="text/javascript">

    var mensajes = '@Model.mensaje';


        $(function () {


            if (mensajes.length > 0) {
                $.toast({
                    heading: 'Asignar Pagos',
                    text: mensajes,
                    position: 'top-right',
                    stack: false

                });
            }

            $('#btnSubmit').click(function () {
                var ventantaEspera = $('#Ventana_Espera');
                ventantaEspera.modal();
            });


        });

    </script>


}


<div class="container">


    <div class="page-header ">
        <h3>Asignaci&oacute;n de Pagos</h3>
    </div>

    @{Html.RenderAction("CrearTituloTramite", "BaseSolicitudTramite", new { Tramite_Solicitados_ID = Model.Tramite_Solicitados_ID, returnUrl = Model.returnUrl });}

    <div class=" panel panel-default">

        <div class="panel-heading panel-heading-custom">
            <h4 class="panel-title">Filtros</h4>
        </div>

        <div class="panel-body">

            @using (Html.BeginForm("Agregar", "AsignarPagos", FormMethod.Get, htmlAttributes: new { id = "form_buscar", @class = "form-inline" }))
            {


                <div class="form-group">
                    <label>B&uacute;squeda Por RPU o C&oacute;digo de Barras</label>
                    @Html.TextBox("queryString", Model.queryString as string, htmlAttributes: new { @class = "form-control" })
                </div>


                @Html.HiddenFor(x => x.returnUrl)
                @Html.HiddenFor(x => x.Tramite_ID)
                @Html.HiddenFor(x => x.Tramite_Solicitados_ID)

                <button type="submit" class="btn btn-primary custom"> Buscar <i class="glyphicon glyphicon-search"></i></button>

            }

        </div>


    </div>

    <div class="panel panel-default">

        <div class="panel-heading panel-heading-custom clearfix">

            <div class="panel-title pull-left" style="padding-top: 7.5px;">
                <h4 class="panel-title">Diversos</h4>
            </div>


        </div>

        <div class="panel-body">

            <div class="table-responsive">

                <table class="table table-bordered table-striped">

                    <tr>
                        <th>RPU</th>
                        <th>C&oacute;digo de Barra</th>
                        <th>Importe</th>
                        <th>IVA</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model.Lista_Pagos)
                    {

                        <tr class="@(item.No_Diverso == Model.No_Diverso ? "success" : "")">
                            <td>@item.RPU</td>
                            <td>@item.Codigo_Barras</td>
                            <td>@item.Importe</td>
                            <td>@item.IVA</td>
                            <td>
                                @item.Total
                            </td>
                            <td class="text-center">
                                <a class="btn btn-primary btn-sm custom" href='@Url.Action("Agregar", "AsignarPagos", new { returnUrl = Model.returnUrl, No_Diverso = item.No_Diverso, queryString = Model.queryString, Tramite_Solicitados_ID = Model.Tramite_Solicitados_ID, Tramite_ID = Model.Tramite_ID })'> Seleccionar </a>
                            </td>
                        </tr>


                    }

                </table>

            </div>



        </div>

    </div>


    @if (Model.Lista_Pagos_Detalle.Count > 0)
    {
        <div class="panel panel-default">

            <div class="panel-heading panel-heading-custom clearfix">
                <div class="panel-title pull-left" style="padding-top: 7.5px;">
                    <h4 class="panel-title">Conceptos Cobro</h4>
                </div>

                <div class="btn-group pull-right">
                    @using (Html.BeginForm("Guardar_Pago", "AsignarPagos", FormMethod.Post, htmlAttributes: new { id = "form_agregar_pagos" }))
                    {
                        @Html.HiddenFor(x => x.returnUrl)
                        @Html.HiddenFor(x => x.Tramite_ID)
                        @Html.HiddenFor(x => x.Tramite_Solicitados_ID)
                        @Html.HiddenFor(x => x.queryString)
                        @Html.HiddenFor(x => x.No_Diverso)
                        <button type="submit" id="btnSubmit" class="btn btn-primary custom"> Guardar <i class="glyphicon glyphicon-floppy-save"></i></button>
                    }
                </div>

            </div>

            <div class="panel-body">

                <div class="row">
                    <div class="col-md-12">

                        <div class="table-responsive">

                            <table class="table table-bordered table-striped">
                                <tr>
                                    <th>Concepto</th>
                                    <th>Precio</th>
                                    <th> Importe</th>
                                </tr>
                                @foreach (var item in Model.Lista_Pagos_Detalle)
                                {
                                    <tr>
                                        <td>@item.Concepto</td>
                                        <td>@item.Precio_Unitario</td>
                                        <td>@item.Importe</td>
                                    </tr>
                                }
                            </table>

                        </div>

                    </div>
                </div>

            </div>

        </div>

    }


</div>



<div id="Ventana_Espera" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Procesando</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>