﻿@model ModelDomain.ViewModel.PagosViewAsignacion

@{
    ViewBag.Title = "Pagos Asignados";
}


@section Scripts {



    <script type="text/javascript">

    var mensajes = '@Model.mensaje';


        $(function () {


            if (mensajes.length > 0) {
                $.toast({
                    heading: 'Asignar Pagos',
                    text: mensajes,
                    position: 'top-right',
                    stack: false

                });
            }

        });

    </script>


}

    <div class="container">

        <div class="page-header ">
            <h3>Pagos Asignados</h3>
        </div>

        @{Html.RenderAction("CrearTituloTramite", "BaseSolicitudTramite", new { Tramite_Solicitados_ID = Model.Tramite_Solicitados_ID, returnUrl = Model.returnUrl });}

        <div class="panel panel-default">

            <div class="panel-heading panel-heading-custom clearfix">

                <div class="panel-title pull-left" style="padding-top: 7.5px;">
                    <h4 class="panel-title">Listado</h4>
                </div>
            </div>

            <div class="panel-body">

                 <div class="table-responsive">

                     <table class="table table-bordered table-striped">
                          <tr>
                              <th>C&oacute;digo Barras</th>
                              <th>Estatus</th>
                              <th>Importe</th>
                              <th>IVA</th>
                              <th>Total</th>
                              <th>Fecha</th>
                              <th> </th>
                          </tr>
                         @foreach( var item in Model.Lista_Pagos)
                         {
                             <tr class="@(item.Pago_Solicitudes_ID == Model.Pago_Solicitudes_ID ? "success" : "")">
                                 <td>@item.Codigo_Barras </td>
                                 <td>@item.Estatus </td>
                                 <td>@item.Importe </td>
                                 <td>@item.IVA</td>
                                 <td>@item.Total</td>
                                 <td>@item.DatFecha_Creo</td>
                                 <td style="text-align:center">

                                     @if (item.Estatus == "PENDIENTE")
                                     {
                                         <a class="btn btn-primary btn-sm custom" href='@Url.Action("Pagos_Asignados", "AsignarPagos", new {returnUrl = Model.returnUrl, Tramite_Solicitados_ID = item.Tramite_Solicitados_ID, Pago_Solicitudes_ID = item.Pago_Solicitudes_ID })'> Seleccionar </a>
                                     }
                                     else
                                     {
                                         <a class="btn btn-primary btn-sm custom disabled" href="javascript:void(0)"> Seleccionar </a>
                                     }

                                 </td>
                             </tr>
                         }
                     </table>

                 </div>

            </div>

        </div>

        @if(Model.Lista_Pagos_Detalle.Count > 0)
        {

            <div class="panel panel-default">

                <div class="panel-heading panel-heading-custom clearfix">
                    <div class="panel-title pull-left" style="padding-top: 7.5px;">
                        <h4 class="panel-title">Conceptos Cobro</h4>
                    </div>

                    <div class="btn-group pull-right">

                        @using (Html.BeginForm("Cancelar_Pago", "AsignarPagos", FormMethod.Post, htmlAttributes: new { id = "form_cancelar_pago" }))
                        {
                            @Html.HiddenFor(x => x.returnUrl)
                            @Html.HiddenFor(x => x.Tramite_Solicitados_ID)
                            @Html.HiddenFor(x => x.Pago_Solicitudes_ID)
                            <button type="submit" class="btn btn-danger custom"> Cancelar <i class="glyphicon glyphicon-floppy-remove"></i></button>
                        }
                    </div>

                </div>

                <div class="panel-body">

                    <div class="table-responsive">

                          <table class="table table-bordered table-striped">
                              <tr>
                                  <th>Concepto</th>
                                  <th>Cantidad</th>
                                  <th>Precio Unitario</th>
                                  <th>Importe</th>
                              </tr>
                              @foreach (var item in Model.Lista_Pagos_Detalle)
                              {
                              <tr>
                                  <td>@item.Concepto</td>
                                  <td>@item.Cantidad</td>
                                  <td>@item.Precio_Unitario</td>
                                  <td>@item.Importe</td>
                              </tr>
                                  }

                          </table>

                    </div>

                </div>

            </div>

        }


    </div>