﻿
@model ModelDomain.ViewModel.TramitesSolicitudView
@using AplicacionWEB.Extensiones

@{
    ViewBag.Title = "Domiciliacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{
    <link href="~/Scripts/bootstrap-datepicker-1.4.0-dist/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <link href="~/Content/steps.css" rel="stylesheet" />
    <link href="~/Content/collapse.css" rel="stylesheet" />
}


@section scripts{

    <script type="text/javascript" src="~/Scripts/bootstrap-datepicker-1.4.0-dist/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datepicker-1.4.0-dist/locales/bootstrap-datepicker.es.min.js"></script>

    <script type="text/javascript" src="~/Scripts/SubirArchivos/ajaxupload.3.6.js"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/BaseSolicitud/Model/SolicitudTramiteModel.js"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/Domicialicion/model/DomicialicionModel.js"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/BaseSolicitud/UI/BaseSolicitudUI.js"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/Domicialicion/DomicialicionViewModel.js?2"></script>

    <script type="text/javascript">

        // objeto donde esta los datos de la solicitud
        var Model_Solicitud_Tramite = @Html.HtmlConvertToJson(Model);
        var Arreglo_RPU_Asociados = '@Html.Raw(ViewBag.Lista_RPU_Asociados)';
        var Arreglo_Lista_Documentos = '@Html.Raw(ViewBag.Lista_Documentos)';
        var Model_Formulario_Domiciliacion = '@Html.Raw(ViewBag.Fomulacion_Domicialicion)';
        var regresarURLOperacion = '@Url.Action("Listar_Mis_Tramites", "MisTramites")';
        var Ruta_Reporte_PDF = '@Url.Action("Visulizar_Archivo_PDF", "VisualizarContenido")';
        var Ruta_Agregar_RPU = '@Url.Action("Agregar_RPU", "AsociarRPU")';
    </script>

}


<div class="container">

    <div class="page-header ">
        <h3> @Model.Nombre_Tramite</h3>
    </div>



    <div class="step step-active">
        <div>
            <div class="circle">1</div>
        </div>
        <div>
            <div class="title">Primer Paso</div>
            <div class="caption">Llenar Solicitud</div>
            <div id="interfaz_domiciliacion">


                <div class="panel panel-default">

                    <div class="panel-heading panel-heading-custom">
                        <div class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#busqueda">
                                Formulario
                            </a>

                        </div>
                    </div>

                    <div id="busqueda" class="panel-collapse collapse in">
                        <div class="panel-body">

                            <form>

                                <div class="row">

                                    <div class="form-group col-md-6">
                                        <label>RPU</label>
                                        <span style="text-align:right"><a href="#" data-bind="click:abrirVentanaAgregarRPU" class="pull-right"> Asociar RPU</a> </span>
                                        <select class="form-control" data-bind="options:ArregloRPU, value:SolicitudTramiteModel.RPU_Selected,optionsText:'name',optionsCaption:'Selecciona',event:{change:eventoRPU }"></select>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>Nombre del proveedor del bien</label>
                                        <input type="text" class="form-control" data-bind="textInput:DomiciliacionModel.Nombre_Proveedor,enable: habilitado">
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="form-group col-md-6">
                                        <label>RFC</label>
                                        <input type="text" class="form-control" data-bind="textInput:DomiciliacionModel.RFC">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>Periodicidad</label>
                                        <select class="form-control" data-bind="options:ArregloPeriodicidad, value:DomiciliacionModel.Periodicidad,enable: habilitado"> </select>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Nombre del Banco</label>
                                        <input type="text" class="form-control" data-bind="textInput:DomiciliacionModel.Nombre_Banco">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>N&uacute;mero de Tarjeta (16 d&iacute;gitos)</label>
                                        <input type="text" class="form-control" data-bind="textInput:DomiciliacionModel.Numero_Tarjeta">
                                    </div>


                                </div>



                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Clave Bancaria Estandarizada (CLABE) 18 d&iacute;gitos</label>
                                        <input type="text" class="form-control" data-bind="textInput:DomiciliacionModel.CLABE">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>Tel&eacute;fono asociado a la cuenta</label>
                                        <input type="text" class="form-control" data-bind="textInput:DomiciliacionModel.Telefono">
                                    </div>


                                </div>

                                <div class="row">

                                    <div class="form-group col-md-6">
                                        <label>Monto m&aacute;ximo fijo del cargo autorizado por per&iacute;odo por facturaci&oacute;n</label>
                                        <input type="text" class="form-control" data-bind="textInput:DomiciliacionModel.Monto_Maximo">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>Esta autorizaci&oacute;n es por Plazos</label>
                                        <label class="radio-inline"><input value="indeterminado" type="radio" name="optradio" data-bind="checked: DomiciliacionModel.radioPlazoSelection,click:eventoRadioButton ">Indeterminado</label>
                                        <label class="radio-inline"><input value="fecha_vencimiento" type="radio" name="optradio" data-bind="checked: DomiciliacionModel.radioPlazoSelection, click:eventoRadioButton">O vence el</label>

                                        <input type="text" id="txt_fecha_vencimiento" class="form-control datepicker" data-bind="textInput:DomiciliacionModel.Fecha_Vencimiento,enable: llevaFecha">

                                    </div>

                                </div>

                                <div class="row">

                                    <div class="form-group col-md-12">
                                        <label>Comentarios</label>
                                        <textarea rows="3" class="form-control" data-bind="textInput:SolicitudTramiteModel.Observaciones"></textarea>
                                    </div>

                                </div>

                            </form>

                        </div>
                    </div>

                    

                </div>

            </div>
        </div>

    </div>


    <div class="step">
        <div>
            <div class="circle">2</div>
        </div>
        <div>
            <div class="title">Segundo Paso</div>
            <div class="caption">Subir Documentos</div>
            @if (Model.Tramite_Solicitados_ID > 0)
            {

                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-1 control-label">Folio</label>
                            <div class="col-md-3">
                                <input class="form-control" value="@Model.Tramite_Solicitados_ID" disabled="disabled" />
                            </div>
                            <label class="col-md-1 control-label">RPU</label>
                            <div class="col-md-3">
                                <input class="form-control" value="@Model.RPU" disabled="disabled" />
                            </div>
                            <label class="col-md-1 control-label">Usuario</label>
                            <div class="col-md-3">
                                <input class="form-control" value="@Model.Usuario" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div id="interfaz_documentos">
                @{Html.RenderAction("CrearVistaDocumentoTitulo", "BaseSolicitudTramite", new { Tramite_ID = Model.Tramite_ID, returnUrl = ViewBag.ReturnUrl });}
            </div>

        </div>

    </div>





</div>


<div id="Ventana_Espera" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Procesando</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>