﻿@model PagedList.IPagedList<ModelDomain.ViewModel.TramitesSolicitudView>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Reporte Solicitudes";
}

<link type="text/css" href="~/Content/collapse.css" rel="stylesheet" />


@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")


    <script type="text/javascript">

        var Ruta_Reporte = '@Url.Action("Elaborar_Reporte_Solicitudes", "ExcelExport")';

        $(function () {

            //Array para dar formato en español
            $.datepicker.regional['es'] =
            {
                closeText: 'Cerrar',
                prevText: 'Previo',
                nextText: 'Próximo',

                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
                'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun',
                'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                monthStatus: 'Ver otro mes', yearStatus: 'Ver otro año',
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sáb'],
                dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
                dateFormat: 'dd/mm/yy', firstDay: 0,
                initStatus: 'Selecciona la fecha', isRTL: false
            };


            $(".datefield").datepicker($.datepicker.regional["es"]);

            $.validator.addMethod("formFecha", function (value, element) {
                var dateRegex = /^(?=\d)(?:(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:\x20|$))|(?:2[0-8]|1\d|0?[1-9]))([-.\/])(?:1[012]|0?[1-9])\1(?:1[6-9]|[2-9]\d)?\d\d(?:(?=\x20\d)\x20|$))?(((0?[1-9]|1[012])(:[0-5]\d){0,2}(\x20[AP]M))|([01]\d|2[0-3])(:[0-5]\d){1,2})?$/;
                return this.optional(element) || dateRegex.test(value);
            }, "Formato de fecha incorrecto");


            $("#form_reporte_solicitudes").validate({
                rules: {
                    FechaInicio: { formFecha: true },
                    FechaFin: { formFecha: true }
                },
                invalidHandler: function (event, validator) {

                    $.toast({
                        heading: 'Reporte de Solicitudes',
                        text: 'Algunos valores son incorrectos',
                        position: 'top-right',
                        stack: false

                    });
                }
            });

        });

        function limpiarFiltros() {
            $('#FechaInicio').val('');
            $('#FechaFin').val('');
            $("#tramite_ID").val('');
        }

        function exportarExcel() {

            if ($("#form_reporte_solicitudes").valid()) {
                window.location = Ruta_Reporte + "?sortOrder=" + '@ViewBag.sortOrder' + "&FechaInicio=" + $("#FechaInicio").val() + "&FechaFin=" + $("#FechaFin").val() + "&tramite_ID=" + $("#tramite_ID").val();
            } else {
                $.toast({
                    heading: 'Reporte de Solicitudes',
                    text: 'Algunos valores son incorrectos',
                    position: 'top-right',
                    stack: false

                });
            }

        }

    </script>

}


<div class="container">


    <div class="page-header ">
        <h3>Reporte de Solicitudes de Tr&aacute;mite</h3>
    </div>

    <div class="panel panel-default">

        <div class="panel-heading panel-heading-custom clearfix">

            <div class="panel-title pull-left" style="padding-top: 7.5px;">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#busqueda">
                    Filtros
                </a>
            </div>

            <div class="btn-group pull-right">
                <button class="btn btn-primary btn-sm" onclick="limpiarFiltros();"> Borrar Filtros <span class="glyphicon glyphicon-remove-circle"></span></button>
            </div>

        </div>

        <div id="busqueda" class="panel-collapse collapse in">

            <div class="panel-body">

                @using (Html.BeginForm("Listado_Solicitudes", "ReporteSolicitudes", FormMethod.Get, new { id = "form_reporte_solicitudes" }))
                {

                    <div class="form-horizontal">

                        <div class="form-group">
                            <label class="col-md-2">Fecha Inicio</label>
                            <div class="col-md-4">
                                @Html.TextBox("FechaInicio", ViewBag.CurrentFechaInicio as string, htmlAttributes: new { @class = "form-control datefield", @maxlength = "10", data_bind = "textInput:fechaInicio", autocomplete = "off" })
                            </div>

                            <label class="col-md-2">Fecha Fin</label>
                            <div class="col-md-4">
                                @Html.TextBox("FechaFin", ViewBag.CurrentFechaFin as string, htmlAttributes: new { @class = "form-control datefield", @maxlength = "10", data_bind = "textInput:fechaFin", autocomplete = "off" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2">Tr&aacute;mite</label>

                            <div class="col-md-10">
                                @Html.DropDownList("tramite_ID", new SelectList(ViewBag.ComboTramites, "id", "name", ViewBag.CurrentTramite_ID), "Seleccione", htmlAttributes: new { @class = "form-control" })
                            </div>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <div class="btn-group pull-right">

                                <button type="submit" class="btn btn-primary btn-sm custom">
                                    Buscar <i class="glyphicon glyphicon-search"></i>
                                </button>

                            </div>

                        </div>
                    </div>

                }

            </div>

        </div>

    </div>


    <div class="panel panel-default">

        <div class="panel-heading panel-heading-custom clearfix">
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;"> Listado </h4>

            <div class="btn-group pull-right">
                <button class="btn btn-primary btn-sm" onclick="exportarExcel();"> Exportar Excel <span class="glyphicon glyphicon-circle-arrow-down"></span></button>
            </div>

        </div>


        <div class="panel-body">

            <div class="row">

                <div class="col-md-12">

                    <div class="table-responsive">

                        <table class="table table-bordered table-striped">

                            <tr>
                                <th>
                                    
                                    @Html.ActionLink("Fecha", "Listado_Solicitudes", new { sortOrder = ViewBag.FechaSortParam, currentFechaInicio = ViewBag.CurrentFechaInicio, currentFechaFin = ViewBag.CurrentFechaFin, currentTramite_ID = ViewBag.CurrentTramite_ID })
                                </th>
                                <th>Folio Solicitud</th>
                                <th>
                                    @Html.ActionLink("Nombre del Trámite", "Listado_Solicitudes", new { sortOrder = ViewBag.NombreTramiteSortParam, currentFechaInicio = ViewBag.CurrentFechaInicio, currentFechaFin = ViewBag.CurrentFechaFin, currentTramite_ID = ViewBag.CurrentTramite_ID })
                                    
                                </th>
                                <th>Estatus</th>
                                <th>Estatus Revisi&oacute;n</th>
                                <th>RPU</th>
                                <th>Usuario</th>
                                <th>Usuario Asignado</th>
                                <th>Costo</th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => item.Fecha_Solicitud)</td>
                                    <td>@item.Tramite_Solicitados_ID</td>
                                    <td>@item.Nombre_Tramite</td>
                                    <td>@item.Estatus</td>
                                    <td>@item.Estatus_Revision</td>
                                    <td>@item.RPU</td>
                                    <td>@item.Usuario</td>
                                    <td>@item.Usuario_Asignado</td>
                                    <td>@item.Costo_Tramite</td>
                                </tr>
                            }
                         </table>


                        </div>

                    </div>

                </div>

            <div class="row">
                <div class="col-md-12" style="text-align:right">
                    P&aacute;gina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("Listado_Solicitudes",
                     new { page, sortOrder = ViewBag.CurrentSort , currentFechaInicio = ViewBag.CurrentFechaInicio , currentFechaFin = ViewBag.CurrentFechaFin, currentTramite_ID = ViewBag.CurrentTramite_ID }))
                </div>
            </div>

            </div>

        </div>



    </div>




