﻿
@model IEnumerable<ModelDomain.ViewModel.MensajesSolicitudesView>

@{
    ViewBag.Title = "Principal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section style{
    <link href="~/Content/estilo_mensajes.css" rel="stylesheet" />
    
}



    <div class="container">


        @if (ViewBag.Rol_Usuario == "usuario_externo")
        {

            <div class="page-header">
                <h1>Bienvendido  <small>Deseas realizar un tr&aacute;mite: &nbsp;&nbsp; <a href="@Url.Action("Listar_Tramites", "ProcesoTramite")"> Comenzar </a> </small></h1>
            </div>


        }
        else
        {
            <div class="page-header">
                <h1>Bienvendido  a Tr&aacute;mites en l&iacute;nea SIMAPAG </h1>
            </div>
        }

        @if (Model.Count() > 0)
        {


            <div class="alert alert-success" role="alert">
                <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
                <div class="icon hidden-xs">
                    <i class="glyphicon glyphicon-sunglasses"></i>
                </div>

                <strong>Tienes los siguientes mensajes:</strong>
                
            </div>

            <div class="addScroll">

                @foreach (var item in Model)
                {

                    <div class="panel panel-default">

                        <div class="panel-heading panel-heading-custom clearfix">
                            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">@item.Entidad  <span class="badge">Folio: @item.Tramite_Solicitados_ID</span></h4>
                            <div class="pull-right">
                                @item.Fecha
                            </div>
                        </div>

                        <div class="panel-body">
                            @item.Mensaje
                        </div>


                        <div class="panel-footer clearfix">

                            <div class="pull-left">
                                <span class="label label-primary">@item.Nombre_Tramite</span>

                            </div>

                            <div class="pull-right">
                                @item.Estatus_Solicitud
                            </div>
                        </div>

                    </div>

                }

            </div>


        }

    </div>


