﻿
@{
    ViewBag.Title = "Agregar_RPU";
    Layout = null;
}



<script type="text/javascript">
        var Datos_USUARIO_ID= '@Html.Raw(ViewBag.Usuario_ID)'
        var Url_Pago_En_Linea = '@Url.Action("Listado", "PagoRecibo")'
</script>


<div id="Interfaz_Agregar_RPU">

    <div class="modal fade" id="Ventana_Agregar_RPU" role="dialog">

        <div class="modal-dialog modal-lg">

            <div class="modal-content">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Cerrar</span>
                    </button>

                    <h4 class="modal-title">Agregar RPU</h4>
                </div>

                <div class="modal-body">

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="rpu">RPU</label>
                                    <input type="text" class="form-control" id="RPU" data-bind="textInput:ModeloBusqueda.RPU">
                                </div>
                                <button type="button" class="btn btn-primary" data-bind="click:buscarCuenta">  Buscar <span class="glyphicon glyphicon-search"></span></button>
                            </form>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-custom clearfix">
                            <h4 class="panel-title pull-left" style="padding-top: 7.5px;"> Informaci&oacute;n del RPU  </h4>
                            <div class="btn-group pull-right">
                                <a href="#" class="btn btn-primary btn-sm" data-bind="click:asociarRPU">  Agregar <span class="glyphicon glyphicon-ok"></span></a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="form-group col-md-6">
                                <label>RPU</label>
                                <input type="text" class="form-control" data-bind="textInput:ModeloDatosCuenta.RPU,enable: bloquearControl">
                            </div>

                            <div class="form-group col-md-6">
                                <label>Nombre de la Cuenta</label>
                                <input type="email" class="form-control" data-bind="textInput:ModeloDatosCuenta.Nombre_Usuario,enable: bloquearControl">
                            </div>

                            <div class="form-group col-md-6">
                                <label>Colonia</label>
                                <input type="text" class="form-control" data-bind="textInput:ModeloDatosCuenta.Colonia,enable: bloquearControl">
                            </div>

                            <div class="form-group col-md-6">
                                <label>Calle</label>
                                <input type="text" class="form-control" data-bind="textInput:ModeloDatosCuenta.Calle,enable: bloquearControl">
                            </div>

                            <div class="form-group col-md-6">
                                <label>No. Exterior</label>
                                <input type="text" class="form-control" data-bind="textInput:ModeloDatosCuenta.Numero_Exterior,enable: bloquearControl">
                            </div>

                            <div class="form-group col-md-6">
                                <label>No. Interior</label>
                                <input type="text" class="form-control" data-bind="textInput:ModeloDatosCuenta.Numero_Interior,enable: bloquearControl">
                            </div>

                        </div>
                    </div>


                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar  <span class="glyphicon glyphicon-remove"></span>  </button>
                </div>

            </div>


        </div>


    </div>

</div>





<div id="Ventana_Espera_RPU" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Procesando</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<script type="text/javascript" src="~/Scripts/Aplicativo/AsociarRPU/Model/AsociarRPUModel.js"></script>
<script type="text/javascript" src="~/Scripts/Aplicativo/AsociarRPU/AgregarRPUViewModel.js?8"></script>


