﻿
@{
    ViewBag.Title = "Asociar RPU";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{
    <link href="~/Content/collapse.css" rel="stylesheet" />
}

@section scripts{

    <script type="text/javascript" src="~/Scripts/Aplicativo/AsociarRPU/Model/AsociarRPUModel.js"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/AsociarRPU/UI/AsociarRPUUI.js"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/AsociarRPU/AsociarRPUViewModel.js?1"></script>

    <script type="text/javascript">
        var Datos_USUARIO_ID= '@Html.Raw(ViewBag.Usuario_ID)'

    </script>

}


<div id="Interfaz_Asociar_RPU">

    <div class="container">

        <div class="page-header ">
            <h3>Asociar RPU</h3>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="rpu">RPU</label>
                        <input type="text" class="form-control" id="RPU" data-bind="textInput:ModeloBusqueda.RPU">
                    </div>
                    <button type="button" class="btn btn-primary" data-bind="click:buscarCuenta">  Buscar <span class="glyphicon glyphicon-search"></span></button>
                </form>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading clearfix panel-heading-custom">
                <h4 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#busqueda">
                        Informaci&oacute;n del RPU
                    </a>
                </h4>
                <div class="btn-group pull-right">
                    @*<button class="btn btn-success btn-sm" data-bind="click: regresar"> Regresar <span class="glyphicon glyphicon-share-alt"></span></button>*@
                    <a href="#" class="btn btn-primary btn-sm" data-bind="click:asociarRPU">  Agregar <span class="glyphicon glyphicon-ok"></span></a>
                </div>

            </div>

            <div id="busqueda" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-group col-md-6">
                        <label>RPU</label>
                        <input type="text" class="form-control" data-bind="textInput:ModeloDatosCuenta.RPU,enable: bloquearControl">
                    </div>

                    <div class="form-group col-md-6">
                        <label>Nombre de la Cuenta</label>
                        <input type="email" class="form-control" data-bind="textInput:ModeloDatosCuenta.Nombre_Usuario,enable: bloquearControl">
                    </div>

                    <div class="form-group col-md-6">
                        <label>Colonia</label>
                        <input type="text" class="form-control" data-bind="textInput:ModeloDatosCuenta.Colonia,enable: bloquearControl">
                    </div>

                    <div class="form-group col-md-6">
                        <label>Calle</label>
                        <input type="text" class="form-control" data-bind="textInput:ModeloDatosCuenta.Calle,enable: bloquearControl">
                    </div>

                    <div class="form-group col-md-6">
                        <label>No. Exterior</label>
                        <input type="text" class="form-control" data-bind="textInput:ModeloDatosCuenta.Numero_Exterior,enable: bloquearControl">
                    </div>

                    <div class="form-group col-md-6">
                        <label>No. Interior</label>
                        <input type="text" class="form-control" data-bind="textInput:ModeloDatosCuenta.Numero_Interior,enable: bloquearControl">
                    </div>

                </div>
            </div>
            
        </div>


        <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom"> <h4 class="panel-title"> RPU Asociados  </h4> </div>
            <div class="panel-body">

                <table id="Tabla_RPU_Asociados"
                       data-toggle="table"
                       data-pagination="true"
                       data-search="false"
                       data-side-pagination="server"
                       data-striped="true"
                       data-show-toggle="false"
                       data-show-columns="false"
                       data-show-refresh="false">
                    <thead>
                        <tr>
                            <th data-field="id" data-formatter="Botones_Operacion_Formato_Eliminar"
                                data-events="Botones_Operacion_Evento" data-align="center"></th>
                            <th data-field="RPU">RPU</th>

                        </tr>
                    </thead>

                </table>

            </div>
        </div>



    </div>

</div>


<div class="modal fade" id="VentanaEliminar" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Tr&aacute;mites</h4>
            </div>
            <div class="modal-body">
                <p>¿Deseas Eliminar el elemento seleccionado : &nbsp; <span id="SpanDato"></span> &nbsp;?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Eliminar_Registro()">Aceptar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<div id="Ventana_Espera" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Procesando</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
