﻿
@{
    ViewBag.Title = "Listar_Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts {

    <script type="text/javascript" src="~/Scripts/Aplicativo/Usuarios/UI/UsuariosUI.js"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/Usuarios/Model/UsuariosModel.js"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/Usuarios/UsuariosViewModel.js"></script>

}



<div class="container">

    <div class="page-header ">
        <h3>Usuarios</h3>
    </div>

    <div id="toolbar" class="btn-group">

        <div id="Interface_Botones">

            <button type="button" class="btn btn-default" title="Nuevo" data-bind="click:Nuevo_Elemento">
                <i class="glyphicon glyphicon-plus"></i>
            </button>

        </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-heading panel-heading-custom"> <h4 class="panel-title"> Listado  </h4> </div>
        <div class="panel-body">

            <table id="tabla_usuarios"
                   data-toggle="table"
                   data-pagination="true"
                   data-search="true"
                   data-side-pagination="server"
                   data-toolbar="#toolbar"
                   data-striped="true"
                   data-show-toggle="false"
                   data-show-columns="false"
                   data-show-refresh="false">
                <thead>
                    <tr>
                        <th data-field="id" data-formatter="Botones_Operacion_Formato_Eliminar"
                            data-events="Botones_Operacion_Evento" data-align="center"></th>

                        <th data-formatter="Botones_Operacion_Formato_Editar"
                            data-events="Botones_Operacion_Evento" data-align="center"></th>
                        <th data-field="nombre">Nombre</th>
                        <th data-field="apellido_paterno">Apellido Paterno</th>
                        <th data-field="apellido_materno">Apellido Materno</th>
                        <th data-field="correo">Correo</th>
                        <th data-field="direccion">Direcci&oacute;n</th>
                        <th data-field="telefono_celular">Tel&eacute;fono Celular</th>
                        <th data-field="telefono_oficina">Tel&eacute;fono Oficina</th>
                        <th data-field="estatus">Estatus</th>
                    </tr>
                </thead>

            </table>

        </div>

    </div>





</div>



<div id="Interface_Datos">



    <!-- Modal -->
    <div class="modal fade" id="Ventana_Interfaz" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Usuarios</h4>
                </div>
                <div class="modal-body">


                    <form class="form-horizontal">

                        <div class="form-group">
                            <label class="col-md-2 control-label">*Correo Electr&oacute;nico</label>
                            <div class="col-md-4">
                                <input class="form-control" data-bind="textInput:ModeloUsuario.Correo_Electronico" />

                            </div>

                            <label class="col-md-2 control-label">*Nombre</label>
                            <div class="col-md-4">
                                <input class="form-control" data-bind="textInput:ModeloUsuario.Nombre" />
                            </div>


                        </div>


                        <div class="form-group">
                            <label class="col-md-2 control-label">Apellido Paterno</label>
                            <div class="col-md-4">
                                <input class="form-control" data-bind="textInput:ModeloUsuario.Apellido_Paterno" />

                            </div>

                            <label class="col-md-2 control-label"> Apellido Materno </label>
                            <div class="col-md-4">
                                <input class="form-control" data-bind="textInput:ModeloUsuario.Apellido_Materno" />
                            </div>


                        </div>


                        <div class="form-group">
                            <label class="col-md-2 control-label">Direcci&oacute;n</label>
                            <div class="col-md-4">
                                <input class="form-control" data-bind="textInput:ModeloUsuario.Direccion" />

                            </div>

                            <label class="col-md-2 control-label"> Tel&eacute;fono Celular </label>
                            <div class="col-md-4">
                                <input class="form-control" data-bind="textInput:ModeloUsuario.Telefono_Celular" />
                            </div>


                        </div>


                        <div class="form-group">

                            <label class="col-md-2 control-label"> Tel&eacute;fono Oficina </label>
                            <div class="col-md-4">
                                <input class="form-control" data-bind="textInput:ModeloUsuario.Telefono_Oficina" />
                            </div>

                            <label class="col-md-2 control-label">Estatus</label>
                            <div class="col-md-4">
                                <select class="form-control" data-bind="options:ArregloEstatus , value:ModeloUsuario.Estatus, optionsCaption: 'Selecciona'"> </select>
                            </div>
                        </div>





                    </form>

                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary" data-bind="click:Aceptar_Operacion"> Aceptar <span class="glyphicon glyphicon-ok"></span> </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar  <span class="glyphicon glyphicon-remove"></span>  </button>
                </div>
            </div>
        </div>
    </div>



</div>




<!-- Modal -->
<div class="modal fade" id="VentanaEliminar" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Usuarios</h4>
            </div>
            <div class="modal-body">
                <p>¿Deseas Eliminar el elemento seleccionado : &nbsp; <span id="SpanDato"></span> &nbsp;?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Eliminar_Registro()">Aceptar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="VentanaInactivar" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Usuario</h4>
            </div>
            <div class="modal-body">
                <p>El elemento: &nbsp;<b> <span id="SpanDatoInactivar"></span> &nbsp; </b> esta referenciado en otra tabla, No se puede eliminar</p>
                <br />
                <p>¿Deseas Cambiarle el estatus a INACTIVO?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Inactivar_Elemento()">Aceptar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>

</div>



<div id="Ventana_Espera" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Procesando</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>