﻿
@model IEnumerable<AplicacionWEB.Models.Util.Cls_Modelo_Menu>

<ul class="nav navbar-nav">
    @foreach (var NodoPapa in Model)
    {

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> @NodoPapa.Nombre <b class="caret"></b> </a>
            <ul class="dropdown-menu">
                @foreach (var NodoHijo in NodoPapa.Elementos)
                {
                    <li> @Html.ActionLink(NodoHijo.Nombre, NodoHijo.Accion, NodoHijo.Controlador) </li>
                }
            </ul>
        </li>

    }
</ul>