﻿@model IEnumerable<ModelDomain.ViewModel.RPUAsociadosView>

@{
    ViewBag.Title = "Listado";
}


@section scripts{
    
    <script type="text/javascript">
        var Ruta_Agregar_RPU = '@Url.Action("Agregar_RPU", "AsociarRPU")';


        function abrirVentanaAgregarRPU() {

            $.get(Ruta_Agregar_RPU, function (d) {
                $('.body-content').prepend(d);
                $('#Ventana_Agregar_RPU').modal('show');

            });
        }
    </script>

    }


    <div class="container">


        <div class="page-header ">
            <h3>Pago En L&iacute;nea</h3>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom"> <h4 class="panel-title">¿Desea Asociar un RPU?  </h4> </div>

            <div class="panel-body">
                <div class="pull-right">
                    <span  style="text-align:right"><a href="#" onclick="abrirVentanaAgregarRPU()" class="pull-right"> <b> Asociar RPU </b> </a> </span>
                </div>
            </div>
        </div>


        <div class="panel panel-default">


            <div class="panel-heading panel-heading-custom clearfix">
                <h4 class="panel-title pull-left" style="padding-top: 7.5px;"> Listado </h4>

                <div class="btn-group pull-right">

                </div>
            </div>


            <div class="panel-body">

                <div class="table-responsive">

                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>RPU</th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.RPU
                                </td>
                                <td class="text-center">

                                    <a class="btn btn-primary btn-sm custom" href='@Url.Action("RealizarPago", "PagoRecibo", new { RPU = item.RPU })'> Seleccionar </a>
                                </td>
                            </tr>
                        }
                    </table>

                </div>

            </div>


        </div>

    </div>


