﻿@model ModelDomain.ViewModel.PagosLineaView
@using System.Configuration

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RealizarPagoAnonimo</title>
    <link type="text/css" href="~/Content/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/bootstrap-table.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/pago_anonimo.css?v=1" rel="stylesheet" />
    <link type="text/css" href="~/Content/jquery.toast.min.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="logo" href="../Inicio/Principal"> <img src="~/img/simapag_logo.png" /> </a>

            </div>
        </div>
    </div>

    <div class="body-content">


        <div class="container">


            <form id="frm_enviar_pagos" method="post" action="@ConfigurationManager.AppSettings["url_bancomer"]">

                <input type="hidden" id="mp_account" name="mp_account" value="@Model.Form_Multipagos.mp_account" />
                <input type="hidden" id="mp_product" name="mp_product" value="@Model.Form_Multipagos.mp_product" />
                <input type="hidden" id="mp_order" name="mp_order" value="@Model.Form_Multipagos.mp_order" />
                <input type="hidden" id="mp_reference" name="mp_reference" value="@Model.Form_Multipagos.mp_reference" />
                <input type="hidden" id="mp_node" name="mp_node" value="@Model.Form_Multipagos.mp_node" />
                <input type="hidden" id="mp_concept" name="mp_concept" value="@Model.Form_Multipagos.mp_concept" />
                <input type="hidden" id="mp_amount" name="mp_amount" value="@Model.Form_Multipagos.mp_amount" />
                <input type="hidden" id="mp_customername" name="mp_customername" value="@Model.Form_Multipagos.mp_customername" />
                <input type="hidden" id="mp_currency" name="mp_currency" value="@Model.Form_Multipagos.mp_currency" />
                <input type="hidden" id="mp_signature" name="mp_signature" value="@Model.Form_Multipagos.mp_signature" />
                <input type="hidden" id="mp_urlsuccess" name="mp_urlsuccess" value="@Model.Form_Multipagos.mp_urlsuccess" />
                <input type="hidden" id="mp_urlfailure" name="mp_urlfailure" value="@Model.Form_Multipagos.mp_urlfailure" />

            </form>

            <div class="page-header ">
                <h3>Pago En L&iacute;nea</h3>
            </div>

            <div class="row">

                <div class="col-md-12">


                    <div class="panel panel-default">

                        <div class="panel-heading panel-heading-custom clearfix">
                            <h4 class="panel-title pull-left" style="padding-top: 7.5px;"> Datos Cuenta </h4>

                            <div class="btn-group pull-right">
                                <a class="btn btn-primary btn-sm custom" href="@Url.Action("Verificar_Usuario", "Login")">Regresar <span class="glyphicon glyphicon-share-alt"></span></a>
                            </div>

                        </div>

                        <div class="panel-body">


                            <div class="row">

                                <div class="col-md-6">

                                    @if (!string.IsNullOrEmpty(Model.Datos_Cuenta.RPU))
                                    {
                                    <dl class="dl-horizontal">

                                        <dt>
                                            RPU
                                        </dt>
                                        <dd>
                                            @Model.Datos_Cuenta.RPU
                                        </dd>

                                        <dt>
                                            No. Cuenta
                                        </dt>

                                        <dd>
                                            @Model.Datos_Cuenta.No_Cuenta
                                        </dd>

                                        <dt>
                                            Usuario
                                        </dt>
                                        <dd>
                                            @Model.Datos_Cuenta.Nombre_Usuario
                                        </dd>

                                        @if (Model.Datos_Cuenta.Descuento_Empleado == "SI")
                                        {

                                            <dt>
                                               Empleado SIMAPAG
                                            </dt>
                                            <dd>
                                                SI
                                            </dd>
                                        }else if(Model.Datos_Cuenta.Tiene_Beneficio_JPA == "SI")
                                        {
                                            <dt>Tiene Beneficio JPA</dt>
                                            <dd>
                                                SI
                                            </dd>
                                        }


                                    </dl>

                                    }
                                    else
                                    {
                                        <h3> No se encontro informaci&oacute;n </h3>
                                    }

                                </div>

                                <div class="col-md-6" style="display:none">

                                    @if (!string.IsNullOrEmpty(Model.Datos_Cuenta.RPU))
                                    {
                                        <dl class="dl-horizontal">

                                            <dt>
                                                Colonia
                                            </dt>
                                            <dd>
                                                @Model.Datos_Cuenta.Colonia
                                            </dd>

                                            <dt>
                                                Calle
                                            </dt>

                                            <dd>
                                                @Model.Datos_Cuenta.Calle
                                            </dd>

                                            <dt>
                                                No. Exterior
                                            </dt>
                                            <dd>
                                                @Model.Datos_Cuenta.Numero_Exterior
                                            </dd>


                                        </dl>

                                    }

                                </div>

                            </div>

                        </div>

                    </div>



                </div>

            </div>



            <div class="row">

                <div class="col-md-8">

                    <div class="panel panel-default">

                        <div class="panel-heading panel-heading-custom clearfix">
                            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">
                                Per&iacute;odo de Adeudo  @Model.Datos_Pago.Mes_Pago 
                            </h4>

                            <div class="btn-group pull-right">
                                Fecha L&iacute;mte Pago:@Model.Datos_Pago.Fecha_Limite_Pago
                            </div>

                        </div>

                        <div class="panel-body">




                            <div class="table-responsive">

                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <th>Concepto</th>
                                        <th>Cantidad</th>
                                    </tr>

                                    <tr>
                                        <td>Presente Mes</td>
                                        <td style="text-align:right"> @Model.Datos_Pago.Total_Mes.ToString("c")  </td>
                                    </tr>
                                    <tr>
                                        <td>Adeudos Anteriores</td>
                                        <td style="text-align:right"> @Model.Datos_Pago.Adeudo.ToString("c") </td>
                                    </tr>
                                    <tr>
                                        <td> Saldo a Favor</td>
                                        <td style="text-align:right"> @Model.Datos_Pago.Saldo_Favor.ToString("c") </td>
                                    </tr>

                                    @if (Model.Datos_Cuenta.Descuento_Empleado == "SI") {

                                        <tr>
                                            <td>Descuento Empleado</td>
                                            <td style="text-align:right">
                                                 @Model.Datos_Pago.TotalDescuentoEmpleado.ToString("c")
                                            </td>
                                        </tr>
                                    }

                                    @if (Model.Datos_Cuenta.Tiene_Beneficio_JPA == "SI") {

                                        <tr>
                                            <td>Descuento Jubilado,Pensionado, Adulto Mayor</td>
                                            <td style="text-align:right">
                                                @Model.Datos_Pago.TotalDescuentoEmpleado.ToString("c")
                                            </td>
                                        </tr>
                                    }



                                    <tr>
                                        <td> Sanci&oacute;n </td>
                                        <td style="text-align:right"> @Model.Datos_Pago.Sancion_Adeudo.ToString("c") </td>
                                    </tr>
                                    <tr>
                                        <td>Convenio sin inter&eacute;s</td>
                                        <td style="text-align:right"> @Model.Datos_Pago.Convenio_Adeudo.ToString("c") </td>
                                    </tr>
                                    <tr>
                                        <td>Divesos</td>
                                        <td style="text-align:right"> @Model.Datos_Pago.Diverso_Adeudo.ToString("c") </td>
                                    </tr>
                                    <tr>
                                        <td> Gran Total </td>
                                        <td style="text-align:right"> @Model.Datos_Pago.Total.ToString("c") </td>
                                    </tr>

                                </table>

                            </div>




                        </div>



                    </div>


                </div>


                <div class="col-md-4">
                    <div class="panel panel-default">

                        <div class="panel-heading panel-heading-custom clearfix">
                            <h4 class="panel-title pull-left" style="padding-top: 7.5px;"> DESGLOSE DE PAGO </h4>
                        </div>

                        <div class="panel-body">

                            <div>
                                <dl class="dl-horizontal">

                                    <dt>Meses de Adeudo</dt>
                                    <dd> @Model.Datos_Pago.Meses_Adeudo </dd>

                                    <dt> Total a Pagar </dt>
                                    @if (Model.Total > 0)
                                    {
                                        <dd> @Model.Total.ToString("c") </dd>
                                    }
                                    else
                                    {
                                        <dd>0.00</dd>
                                    }
                                </dl>
                            </div>


                            @if (!string.IsNullOrEmpty(Model.Datos_Cuenta.RPU) && Model.Total > 0)
                            {
                                <button class="btn btn-primary btn-block" onclick="generarTicket();"> Descargar Ticket <span class="glyphicon glyphicon-circle-arrow-down"></span> </button>
                            }


                            @if (Model.ConfiguracionView.Servicio_PE_Moviles == "SI" && Model.ConfiguracionView.Servicio_PE_Meses_Adeudo >= Model.Datos_Pago.Meses_Adeudo && Model.Total > 0 )
                            {
                                <button class="btn btn-danger btn-block" onclick="realizarPago();"> Pagar <span class="glyphicon glyphicon-ok"></span> </button>
                            }


                            @*@if (Model.Datos_Pago.TotalConvenio > 0 && Model.ConfiguracionView.Servicio_PE_Meses_Adeudo >= Model.Datos_Pago.Meses_Adeudo) {

                                <br />
                                <div class="alert alert-danger" role="alert">
                                   Tiene un saldo de convenio, por lo cuál no puede pagar
                                </div>

                            }*@

                        </div>

                    </div>
                </div>

            </div>



        </div>

    </div>

    <script type="text/javascript">

        var Ruta_Reporte = '@Url.Action("Generar_Ticket", "PDFExport" , new { RPU = Model.Datos_Cuenta.RPU })';


        function generarTicket() {

            window.open(Ruta_Reporte, "Mi Ticket", "width=800px,height=600px,scrollbar=YES");
        }

        function realizarPago() {

            $('#frm_enviar_pagos').submit();
        }

    </script>

    <script type="text/javascript" src="~/Scripts/jquery-2.1.0.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-table.js"></script>
    <script type="text/javascript" src="~/Scripts/alert.js"></script>
    <script type="text/javascript" src="~/Scripts/bootbox.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.toast.min.js"></script>

</body>
</html>
