﻿
@{
    ViewBag.Title = "Catalogo_Documento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{


    <script type="text/javascript" src="~/Scripts/Aplicativo/CatalogoDocumento/Model/DocumentoModel.js"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/CatalogoDocumento/UI/DocumentoUI.js"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/CatalogoDocumento/DocumentosViewModel.js"></script>


}

    <div id="Interfaz_catalogo_documentos">
        <div class="container">

            <div class="page-header ">
                <h3>Cat&aacute;logo de Documentos</h3>
            </div>

            <div id="toolbar" class="btn-group">

                <button type="button" class="btn btn-default" title="Nuevo" data-bind="click:Nuevo_Elemento">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>

            </div>

            <div class="panel panel-default">
                <div class="panel-heading panel-heading-custom"> <h4 class="panel-title"> Listado  </h4> </div>

                <div class="panel-body">
                    <table id="Tabla_Documento"
                           data-toggle="table"
                           data-pagination="true"
                           data-search="true"
                           data-side-pagination="server"
                           data-toolbar="#toolbar"
                           data-striped="true"
                           data-show-toggle="false"
                           data-show-columns="false"
                           data-show-refresh="false">
                        <thead>
                            <tr>
                                <th data-field="id" data-formatter="Botones_Operacion_Formato_Eliminar"
                                    data-events="Botones_Operacion_Evento" data-align="center"></th>
                                <th data-formatter="Botones_Operacion_Formato_Editar"
                                    data-events="Botones_Operacion_Evento" data-align="center"></th>
                                <th data-field="Nombre_Documento">Documento </th>
                                <th data-field="Estatus">Estatus</th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>

           


            <br />
            <br />
            <br />

        </div>


        <div class="modal fade" id="Ventana_Interfaz" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Cat&aacute;logo de Documentos</h4>
                    </div>
                    <div class="modal-body">

                        <form class="form-horizontal">
                            <fieldset>


                                <div class="form-group">
                                    <label class="col-md-2 control-label">*Documento</label>
                                    <div class="col-md-10">
                                        <textarea rows="3" class="form-control" data-bind="textInput:ModeloDocumento.Nombre_Documento"></textarea>
                                    </div>
                                </div>

                               

                                <div class="form-group">
                                    <label class="col-md-2 control-label">*Estatus</label>
                                    <div class="col-md-10">
                                        <select class="form-control" data-bind="options:ArregloEstatus , value:ModeloDocumento.Estatus, optionsCaption: 'Selecciona'"> </select>
                                    </div>
                                </div>
                            </fieldset>

                        </form>


                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-primary" data-bind="click:Aceptar_Operacion"> Aceptar <span class="glyphicon glyphicon-ok"></span> </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar  <span class="glyphicon glyphicon-remove"></span>  </button>
                    </div>
                </div>
            </div>
        </div>



        <div class="modal fade" id="VentanaEliminar" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Documentos</h4>
                    </div>
                    <div class="modal-body">
                        <p>¿Deseas Eliminar el elemento seleccionado : &nbsp; <span id="SpanDato"></span> &nbsp;?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="Eliminar_Registro()">Aceptar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="Ventana_Espera" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Procesando</h4>
                    </div>
                    <div class="modal-body">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar"
                                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
