﻿@model ModelDomain.ViewModel.FormCalificarView

@{
    ViewBag.Title = "Asignar Estatus Solicitud";
}


@section Scripts {



    <script type="text/javascript">

    var mensajes = '@Model.Resultado';


        $(function () {


            if (mensajes.length > 0) {
                $.toast({
                    heading: 'Asignar Pagos',
                    text: mensajes,
                    position: 'top-right',
                    stack: false

                });
            }


            $('#btnSubmit').click(function () {
                var ventantaEspera = $('#Ventana_Espera');
                ventantaEspera.modal();
            });

        });

    </script>


}

<div class="container">

    <div class="page-header ">
        <h3>Asignar Estatus Solicitud</h3>
    </div>


    @{Html.RenderAction("CrearTituloTramite", "BaseSolicitudTramite", new { Tramite_Solicitados_ID = Model.Tramite_Solicitados_ID, returnUrl = Model.returnUrl });}


    <div class="panel panel-default">

        <div class="panel-body">

            @using (Html.BeginForm("Registrar", "Calificar"))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <div class="form-group">
                        <div class="col-md-12">
                            <div style="text-align:center">
                                @Html.ValidationMessage("error", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>




                    @Html.HiddenFor(x => x.Tramite_Solicitados_ID)
                    @Html.HiddenFor(x => x.returnUrl)


                    <div class="form-group">
                        @Html.LabelFor(model => model.Estatus, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("Estatus", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Estatus, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Mensaje, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Mensaje, new { style = "max-width:100% !important;width: 100%;", rows = 3 })
                            @Html.ValidationMessageFor(model => model.Mensaje, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" id="btnSubmit" class="btn btn-primary">  Aceptar <span class="glyphicon glyphicon-ok"></span></button>
                        </div>
                    </div>


                </div>





            }

        </div>

    </div>

</div>



<div id="Ventana_Espera" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Procesando</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>