﻿@model ModelDomain.ViewModel.TramitesSolicitudView
@using AplicacionWEB.Extensiones

@{
    ViewBag.Title = "Datos Fisicales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section style{
    <link href="~/Content/steps.css" rel="stylesheet" />
    <link href="~/Content/collapse.css" rel="stylesheet" />
}


@section scripts{


    <script type="text/javascript" src="~/Scripts/SubirArchivos/ajaxupload.3.6.js"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/BaseSolicitud/Model/SolicitudTramiteModel.js"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/DatosFiscales/Model/DatosFiscalesModel.js"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/BaseSolicitud/UI/BaseSolicitudUI.js"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/DatosFiscales/DatosFiscalesViewModel.js"></script>


    <script type="text/javascript">

        // objeto donde esta los datos de la solicitud
        var Model_Solicitud_Tramite = @Html.HtmlConvertToJson(Model);
        var Arreglo_RPU_Asociados = '@Html.Raw(ViewBag.Lista_RPU_Asociados)';
        var Arreglo_Lista_Documentos = '@Html.Raw(ViewBag.Lista_Documentos)';
        var Arreglo_Lista_Comprobante_Cfdi = '@Html.Raw(ViewBag.Lista_Comprobante_Cfdi)';
        var Model_Formulario_Datos_Fiscales = '@Html.Raw(ViewBag.Formulario_Datos_Fiscales)';
        var regresarURLOperacion = '@Url.Action("Listar_Mis_Tramites", "MisTramites")';
        var Ruta_Reporte_PDF = '@Url.Action("Visulizar_Archivo_PDF", "VisualizarContenido")';
        var Ruta_Agregar_RPU = '@Url.Action("Agregar_RPU", "AsociarRPU")';
    </script>

}


<div class="container">

    <div class="page-header ">
        <h3> @Model.Nombre_Tramite</h3>
    </div>


    <div class="step step-active">
        <div>
            <div class="circle">1</div>
        </div>
        <div>
            <div class="title">Primer Paso</div>
            <div class="caption">Llenar Solicitud</div>

            <div id="interfaz_datos_fiscales">

                <div class="panel panel-default">

                    <div class="panel-heading panel-heading-custom">
                        <div class="panel-title">

                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#busqueda">
                                Formulario
                            </a>

                        </div>
                    </div>

                    <div id="busqueda" class="panel-collapse collapse in">
                        <div class="panel-body">

                            <form>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>RPU</label>
                                        <span style="text-align:right"><a href="#" data-bind="click:abrirVentanaAgregarRPU" class="pull-right"> Asociar RPU</a> </span>
                                        <select class="form-control" data-bind="options:ArregloRPU, value:SolicitudTramiteModel.RPU_Selected,optionsText:'name',optionsCaption:'Selecciona'"></select>
                                    </div>


                                    <div class="form-group col-md-6">
                                        <label>Uso del comprobante</label>
                                        <select class="form-control" data-bind="options:ArregloComprobanteCfdi, value:DatosFiscalesModel.Compobante_Cfdi_Selected,optionsText:'name',optionsCaption:'Selecciona'"></select>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label>Raz&oacute;n Social</label>
                                        <input type="text" class="form-control" data-bind="textInput:DatosFiscalesModel.Razon_Social">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label>Correo Electr&oacute;nico</label>
                                        <input type="text" class="form-control" data-bind="textInput:DatosFiscalesModel.Correo_Electronico">
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>RFC</label>
                                        <input type="text" class="form-control" data-bind="textInput:DatosFiscalesModel.RFC">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>C&oacute;digo Postal</label>
                                        <input type="text" class="form-control" data-bind="textInput:DatosFiscalesModel.Codigo_Postal">
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Colonia</label>
                                        <input type="text" class="form-control" data-bind="textInput:DatosFiscalesModel.Colonia">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Calle</label>
                                        <input type="text" class="form-control" data-bind="textInput:DatosFiscalesModel.Calle">
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>N&uacute;mero Exterior</label>
                                        <input type="text" class="form-control" data-bind="textInput:DatosFiscalesModel.Numero_Exterior">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>N&uacute;mero Interior</label>
                                        <input type="text" class="form-control" data-bind="textInput:DatosFiscalesModel.Numero_Interior">
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Ciudad</label>
                                        <input type="text" class="form-control" data-bind="textInput:DatosFiscalesModel.Ciudad">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Estado</label>
                                        <input type="text" class="form-control" data-bind="textInput:DatosFiscalesModel.Estado">
                                    </div>

                                </div>

                            </form>

                        </div>
                    </div>




                </div>

            </div>

        </div>

    </div>

    <div class="step">

        <div>
            <div class="circle">2</div>
        </div>

        <div>
            <div class="title">Segundo Paso</div>
            <div class="caption">Subir Documentos</div>

            @if (Model.Tramite_Solicitados_ID > 0)
            {

                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-1 control-label">Folio</label>
                            <div class="col-md-3">
                                <input class="form-control" value="@Model.Tramite_Solicitados_ID" disabled="disabled" />
                            </div>
                            <label class="col-md-1 control-label">RPU</label>
                            <div class="col-md-3">
                                <input class="form-control" value="@Model.RPU" disabled="disabled" />
                            </div>
                            <label class="col-md-1 control-label">Usuario</label>
                            <div class="col-md-3">
                                <input class="form-control" value="@Model.Usuario" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div id="interfaz_documentos">
                @{Html.RenderAction("CrearVistaDocumentoTitulo", "BaseSolicitudTramite", new { Tramite_ID = Model.Tramite_ID, returnUrl = ViewBag.ReturnUrl });}
            </div>

        </div>

    </div>


</div>



<div id="Ventana_Espera" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Procesando</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>