﻿
@{
    ViewBag.Title = "Listar_Acceso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link type="text/css" href="~/Content/bootstrap-table-group-by.css" rel="stylesheet" />

@section scripts {


    <script type="text/javascript" src="~/Scripts/Aplicativo/Acceso/UI/AccesoUI.js"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/Acceso/Model/AccesoModel.js"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/Acceso/AcessoViewModel.js"></script>
    <script type="text/javascript" src="~/Scripts/extensiones/bootstrap-table-group-by.js"></script>


    <script>

        var Datos_Roles_Global = '@Html.Raw(ViewBag.Roles)'
        var Datos_Menu_Global = '@Html.Raw(ViewBag.Menu)'

    </script>



}



    <div class="container">

        <div class="page-header ">
            <h3>Accesos</h3>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom"> <h4 class="panel-title"> Listado  </h4> </div>
            <div class="panel-body">
                <div id="Interface_Datos">


                    <div class="form-group">
                        <label class="col-md-2 control-label">Rol</label>
                        <div class="col-md-10">
                            <select class="form-control" data-bind="options: ArregloPapa, value: SeleccionRol, optionsText: 'name', optionsCaption: 'Selecciona' ,event:{change:Evento_Clic_Rol} "> </select>
                        </div>


                    </div>


                    <div id="toolbar" class="btn-group">

                        <div id="Interface_Botones">

                            <button type="button" class="btn btn-default" title="Guardar" data-bind="click:Guardar_Configuracion">
                                <i class="glyphicon glyphicon-ok"></i>
                            </button>

                        </div>



                    </div>


                    <table id="tabla_acceso"
                           data-group-by-field="menu_padre"
                           data-toggle="table"
                           data-show-toggle="true"
                           data-group-by="true"
                           data-toolbar="#toolbar"
                           data-click-to-select="true">
                        <thead>
                            <tr>
                                <th data-field="state" data-checkbox="true"></th>
                                <th data-field="id" data-visible="false"></th>
                                <th data-field="menu_padre">Men&uacute; Padre</th>
                                <th data-field="sub_menu">Sub Men&uacute;</th>
                                <th data-field="estatus">Estatus</th>
                            </tr>
                        </thead>

                    </table>






                </div>
            </div>

        </div>

       


    </div>
<div id="Ventana_Espera" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Procesando</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>